<div class="card">
    <div class="card-header">
        <h3 class="card-title font-weight-bold text-info">
            <i class="ti ti-game"> </i>
            Listed Accounts
        </h3>
    </div>
    <table class="table table-bordered table-striped table-responsive-sm table-responsive-md">
        <thead>
            <tr>
                <td class="font-weight-bold text-info">Game ID</td>
                <td class="font-weight-bold text-info">State</td>
                <td class="font-weight-bold text-info">Base Level</td>
                <td class="font-weight-bold text-info">Price</td>
                <td class="font-weight-bold text-info">Status</td>
            </tr>
        </thead>
        <tbody>
            {% for account in my_account_listings %}
            <tr>
            {% if not account.listing_active %}
                <td><a class="font-weight-bold text-info" href="{{ url_for('market.get_listing_editor', listing_id=account.listing_id) }}" info="Edit Listing" > {{ account.game_id }} </a></td>
            {% else %}
                <td><a class="font-weight-bold text-success" href="{{ url_for('market.get_listing_editor', listing_id=account.listing_id) }}"> {{ account.game_id }}</a></td>
            {% endif %}
                <td>{{ account.state }}</td>
                <td>{{ account.base_level }}</td>

                <td>{{ account.item_price }}</td>
                <td>
                    {% if account.listing_active %}
                    <span class="badge badge-success">Active</span>
                    {% elif account.in_negotiation %}
                    <span class="badge badge-warning">In Negotiation</span>
                    {% elif account.is_bought %}
                    <span class="badge badge-info">Bought</span>
                    {% else %}
                        <span class="badge badge-success">In Active</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
