
{% extends "layouts/page.html" %}

{% block content %}
{% include "layouts/social.html" %}
<section id="main-content">
<div class="card">
    <div class="card-header">
        <h3 class="card-title font-weight-bold"><i class="ti-gift"></i> Free Gift Codes - <span class="text-danger">Redeem Upto 50 Bases at Once</span></h3>
    </div>

    <div class="card-body">
        <label class="text-info font-weight-bold">This service allows gamers to submit upto 50 game id's for Gift Codes Redemption - Note that
        There needs to be an available Gift Code for this service to work</label>
        <form class="form-horizontal" action="{{ url_for('free.submit_game_id') }}" method="POST">
            <div class="form-group">
                <label class="font-weight-bold">Submit Game Id's <span class="text-info">Limit Each Game ID with a Comma, for example</span> BDASFG99,KLX098XC </label>
                <textarea class="form-control" name="game_id" rows="5" placeholder="Enter game IDs separated by commas, semicolons, periods, or spaces"></textarea>
            </div>
            {% if results %}
            <div class="form-group">
                <label class="font-weight-bold text-info">Results</label>
                <ul class="list-group">
                        {% for result in results %}
                            <li class="list-group-item"><span class="font-weight-bold"> <span class="text-info">Base : </span> {{ result.name }}, <span class="text-success">msg: </span>{{ result.msg }},  <span class="text-info">status: </span>{{ result.status }}</span></li>
                        {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-secondary">
                    <i class="ti ti-gift"> </i>
                    Redeem Codes
                </button>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Premium Gift Code Service</h3>
        </div>
        <label class="text text-danger font-weight-bold">
            For a Premium Service consider creating an account in this website so you can make use of our subscription
            service
        </label>

        <ol class="font-weight-bold text-info">
            <li>Benefits of our Premium Service includes - Access to More Codes than in our free version</li>
            <li>Codes are Redeemed whenever they get available and without any action from you and or us</li>
            {% if not user %}
            <li class="font-italic text-danger">
                <a href="{{ url_for('auth.get_register') }}" class="btn btn-primary">
                    <i class="ti ti-user"> </i>
                    Create Account
                </a>
                <a href="{{ url_for('auth.get_auth') }}" class="btn btn-warning">
                    <i class="ti ti-user"> </i>
                    Login
                </a>
            </li>
            {% else %}
                <a href="{{ url_for('profile.get_gift_codes') }}" class="btn btn-primary">
                    <i class="ti ti-gift"> </i>
                    Subscribe to Premium
                </a>

            {% endif %}
        </ol>
    </div>


</div>


</section>

{% endblock %}