{% extends "layouts/page.html" %}
{% block content %}
    {% include "layouts/social.html" %}
    <section id="main-content">
<div class="card">
    <img src="{{ url_for('static', filename="images/lss/lss.jpg") }}" class="card-img-top img-fluid" alt="Last-shelter.vip">
</div>

            <div class="card-body">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold"><i class="ti ti-game"></i> Public Market Place</h3>
                </div>
                <div class="card-body">

                    <div class="row">
                    <!-- account listings -->
                        <div class="col-12 col-md-6">

                            {% for account in listed_accounts %}
                                <div class="card mb-3 bg-secondary">
                                    <div class="card-body text-white font-weight-bold">
                                        <img src="{{ account.image_url }}" class="img-fluid mr-3" alt="Account Image" style="width: 150px; height: 120px;">
                                        <a class="card-title font-weight-bold text-info" href="{{ url_for('market.get_public_listing', listing_id=account.listing_id) }}" title="Open To Edit Base">
                                            <span class="text-info">{{ account.base_name }}</span>
                                        </a>
                                        <ul class="list-group title-margin-right">

                                            <li class="list-group-item bg-secondary title-margin-right">
                                                <span class="card-text text-white font-weight-bold">State: <span class="text-info">{{ account.state }}</span></span>
                                            </li>

                                            <li class="list-group-item bg-secondary title-margin-right">
                                                <span class="card-text text-white font-weight-bold">Base Level: <span class="text-info">{{ account.base_level }}</span></span>
                                            </li>
                                            <li class="list-group-item bg-secondary title-margin-right">
                                                <span class="card-text text-white font-weight-bold">Price: <span class="text-info">{{ account.item_price }}</span></span>
                                            </li>

                                            <li class="list-group-item bg-secondary title-margin-right">
                                                <a class="btn btn-primary m-b-2 m-r-2" href="{{ url_for('market.get_public_listing', listing_id=account.listing_id) }}">
                                                    <i class="ti ti-file"> </i>
                                                    Base Detail
                                                </a>

{#                                                <a class="btn btn-primary">#}
{#                                                    <i class="ti ti-credit-card"> </i>#}
{#                                                    Buy#}
{#                                                </a>#}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                {% if not listed_accounts %}
                    {% include "market/snippets/howto.html" %}
                {% endif %}
                <div class="card-footer">
                    {% if user %}
                    <a href="#" class="btn  btn-primary" data-toggle="modal" data-target="#add_account">
                        <span class="font-weight-bold text-white">
                            <i class="ti ti-plus"> </i>
                            Start Account Listing
                        </span>
                    </a>
                    {% else %}
                        <span class="font-weight-bold text-info">To Start Buying and Selling Please create an account or Login</span>
                        <div class="card-footer">
                            <a class="btn btn-primary" href="{{ url_for('auth.get_register') }}">
                                <i class="ti ti-user"></i>
                                Create Account
                            </a>
                            <a class="btn btn-warning" href="{{ url_for('auth.get_auth') }}">
                                <i class="ti ti-user"></i>
                                Login
                            </a>

                        </div>
                    {% endif %}
                </div>
                </div>

            </div>

    </section>
{% endblock %}

{% include 'market/accounts/modals/add_game_account.html' %}