{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class=""> Buy &amp; Sell Farm Accounts</h2>
        </div>
    </div>
    <div class="row">
    <h3 class="font-weight-bold text-warning">Service Launching Soon ... </h3>

{#        <div class="col-lg-9 col-md-6 col-sm-6">#}
{#            <div class="card">#}
{#                <div class="row">#}
{#                    {% for farm in available_farms %}#}
{#                        <ol>#}
{#                            <li>Seller Name: {{ farm.seller_name }}</li>#}
{#                            <li>State: {{ farm.state }}</li>#}
{#                            <li>Total Farms: {{ farm.total_farms }}</li>#}
{#                            <li>Total Price: {{ farm.total_price }}</li>#}
{#                            <li>Base Level: {{ farm.base_level }}</li>#}
{#                            <li>In Escrow: {{ farm.in_escrow }} </li>#}
{#                            <li>Recommendation: {{ seller.recommendation_score }} </li>#}
{#                            <li><button class="btn btn-sm btn-success"> Buy </button> </li>#}
{#                        </ol>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
</section>
{% endblock %}
