pydantic==1.10.9
PyMySQL==1.0.3
pyOpenSSL==24.1.0
Flask~=2.3.2
resend~=0.8.0
SQLAlchemy~=2.0.29
requests~=2.31.0
cloudflare~=2.19.2
paypalrestsdk~=1.13.3
twilio~=9.0.5
aiocache~=0.12.2
redis~=5.0.6
colorama~=0.4.6
python-dateutil~=2.9.0.post0
ulid-py