{% extends "layouts/page.html" %}
{% block content %}
<section id="main-content">
    <div class="card shadow-sm border-info">
        <div class="card-header">
            <h3 class="card-title">
                <span class="font-weight-bold text-info">
                    <i class="fa fa-money"> </i>
                    Monthly Billing
                </span>
            </h3>
        </div>
        <div class="card-body">
            <div class="card-header">
                <h3 class="card-title font-weight-bold text-info">
                    Account Type: {{ subscription_account.plan_name }}
                </h3>
            </div>
            {% if subscription_account %}
                <ul class="list-group">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold text-success"> Account Details</h3>
                    </div>
                    <li class="list-group-item">
                        <span class="font-weight-bold">
                            Total Clients: <span class="text-info pull-right">{{ subscription_account.total_clients| number }} clients</span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">
                            Total SMS: <span class="text-info pull-right">{{ subscription_account.total_sms| number }} sms messages</span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">
                            Total Emails: <span class="text-info pull-right">{{ subscription_account.total_emails| number }} email messages</span>
                        </span>
                    </li>

                    <div class="card-header">
                        <h3 class="card-title font-weight-bold text-success">Payment Details</h3>
                    </div>

                    <li class="list-group-item">
                        <span class="font-weight-bold">
                            Date Registered: <span class="text-info pull-right">{{ subscription_account.date_subscribed if subscription_account.date_subscribed else 'N/A' }}</span>
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">
                            Monthly Payment Amount: <span class="text-success pull-right">R {{ subscription_account.subscription_amount| number }}.00</span>
                        </span>
                    </li>
                </ul>
                    <div class="card  shadow-sm border-primary">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold text-success">
                            <i class="fa fa-money"> </i>
                            Payments
                        </h3>
                    </div>
                        <div class="card-body">
                                {% if subscription_account and  subscription_account.payments %}
                                    <h4 class="mt-4">Payments</h4>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bold text-info">Date</th>
                                                <th class="font-weight-bold text-info">Amount</th>
                                                <th class="font-weight-bold text-info">Status</th>
                                                <th class="font-weight-bold text-info">Print</th>
                                                <th class="font-weight-bold text-info"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for payment in subscription_account.payments %}
                                                <tr>
                                                    <td>{{ payment.date_paid.strftime('%Y-%m-%d') }}</td>
                                                    <td>R {{ payment.amount_paid| number }}.00</td>
                                                    <td>
                                                        {% if payment.is_successful %}
                                                            <span class="badge badge-success">Sucess</span>
                                                        {% else %}
                                                            <span class="badge badge-danger">Failed</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-rounded btn-outline-info">
                                                        <i class="fa fa-print"> </i>
                                                        Invoice
                                                        </button>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="card-header">
                                            <h3 class="card-title font-italic text-danger align-content-center">No payments recorded.</h3>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                        {% if subscription_account and not subscription_account.is_paid_for_current_month %}
                                <div class="card card-columns shadow-lg border-primary">
                                    <button  class="btn btn-lg btn-outline-info btn-rounded btn-block"
                                    data-toggle="modal" data-target="#paymentMethodsModal"
                                    >
                                        PAY NOW
                                    </button>

                                </div>
                        {% endif %}
            {% else %}
                <p>No subscription data available.</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}


{% include "admin/managers/subscriptions/payment_methods.html" %}