{% extends "layouts/page.html" %}
{% block content %}
    <section id="main-content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fa fa-user-circle"> </i>
                    Account
                </h3>
                <span class="card-title font-weight-light text-info">In order to start using our package select an account type</span>
            </div>
            {% include "admin/managers/subscriptions/plans_description.html" %}
        </div>
    </section>
{% endblock %}




