    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="{{ url_for('home.get_home') }}">
                            <img src="{{ url_for('static', filename='images/art/logo.png') }}" alt="logo" width="45"
                                 height="45">
                            <span>FM</span>
                        </a>
                    </div>
                    <li class="label">Main</li>
                    <li><a href="{{ url_for('home.get_home') }}"><i class="ti-home"></i> Home</a></li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-dashboard"></i> Manage<span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{{ url_for('company.get_admin') }}"><i class="ti-briefcase"></i> Company</a></li>
                            <li><a href="{{ url_for('covers.get_covers') }}"><i class="ti-briefcase"></i> Plans</a></li>
                            <li><a href="{{ url_for('employees.get_employees') }}"><i class="ti-briefcase"></i> Employees</a></li>
                            <li><a href="{{ url_for('messaging.get_admin') }}"><i class="fa fa-cogs"></i> Settings & Stats</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-folder"></i> Covers<span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a class="sidebar-sub-toggle"><i class="fa fa-folder"></i> Policies<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="{{ url_for('policy.get_active_policies_paged', page=0, count=25) }}"><i class="ti-briefcase"></i> Active Policies</a></li>
                                    <li><a href="{{ url_for('policy.get_lapsed_policies_paged', page=0, count=25) }}"><i class="ti-briefcase"></i> Lapsed Policies</a></li>
                                    <li><a href="{{ url_for('policy.get_search_policies') }}"><i class="ti-briefcase"></i> LookUp Policies</a></li>
                                </ul>
                            </li>

                            <li><a href="{{ url_for('clients.get_clients') }}"><i class="ti-briefcase"></i> Clients</a></li>
                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-envelope"></i> Messaging<span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>

                            <li><a class="sidebar-sub-toggle"><i class="fa fa-envelope"></i> Sent <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="{{ url_for('messaging.get_sent_sms', page=0, count=25) }}"><i class="fa fa-mobile-phone"></i> SMS</a></li>
                                    <li><a href="{{ url_for('messaging.get_sent_email', page=0, count=25) }}"><i class="fa fa-send"></i> Email</a></li>
                                </ul>

                            </li>

                            <li><a class="sidebar-sub-toggle"><i class="fa fa-envelope"></i> Compose <span
                                    class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="{{ url_for('messaging.get_sms_compose') }}"><i class="fa fa-mobile"></i> SMS </a></li>
                                    <li><a href="{{ url_for('messaging.get_email_compose') }}"><i class="fa fa-mobile-phone"></i> Email</a></li>
                                </ul>
                            </li>


                        </ul>
                    </li>
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-shopping-cart"></i> Billing<span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{{ url_for('subscriptions.get_subscriptions') }}"> <i class="fa fa-universal-access"> </i> Account </a> </li>
                            <li><a href="{{ url_for('billing.get_billing') }}"><i class="fa fa-user-circle"></i> Monthly Billing</a></li>
                            <li><a href="{{ url_for('messaging.get_topup') }}"><i class="ti-credit-card"></i> Top Ups</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url_for('support.get_support') }}"><i class="fa fa-ticket"></i> Support</a></li>

                    {% if user and user.is_system_admin %}
                        <li><a class="sidebar-sub-toggle"><i class="ti-dashboard"></i> Admin<span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                            <ul>
                                <li><a href="{{ url_for('system.get_companies') }}"><i class="ti-briefcase"></i> Companies</a></li>
                                <li><a href="{{ url_for('support.admin_unresolved_support_tickets') }}"><i class="fa fa-ticket"></i> Support Tickets</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user %}
                        <li><a href="{{ url_for('auth.do_logout')}}"><i class="ti-power-off"></i> Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('auth.get_auth')}}"><i class="ti-user"></i> Login</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
</div>
<!-- /# sidebar -->
