




    <div class="social-sharing">
        <!-- Facebook Share Button -->
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ social_url }}" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="ti ti-facebook"></i>
        </a>

        <!-- Twitter Share Button -->
        <a href="https://twitter.com/intent/tweet?url={{ social_url }}" target="_blank" rel="noopener noreferrer" class="social-icon">
        <i class="ti ti-twitter"></i>
        </a>
    </div>