
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card shadow-lg border-info">
        <div class="card-header shadow-sm border-info bg-facebook d-flex justify-content-between align-items-center">
            <h3 class="card-title text-white">
                <i class="fa fa-credit-card"> </i>
                Current Premiums
            </h3>
            <div class="branch-selector">

                <form id="branch-select-form"  method="post" action="{{ url_for('covers.get_current_premiums_paged', branch_id=branch_id, page=page, count=count) }}">
                    <div class="form-group mb-0">
                        <select id="branch_id" class="form-control" name="branch_id" onchange="document.getElementById('branch-select-form').submit();">
                            {% for branch in company_branches %}
                                <option value="{{ branch.branch_id }}" {% if branch.branch_id == branch_id %}selected{% endif %}>{{ branch.branch_name| title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>

            </div>
        </div>
        <div class="card-body m-t-4">
        <table class="table  table-striped m-t-4">
            <thead class="font-weight-bold text-info">
                <tr>
                    <td>Policy #</td>
                    <td class="d-none d-md-table-cell">Plan #</td>
                    <td>Premium</td>
                    <td class="d-none d-md-table-cell">Month</td>
                    <td>Is Paid</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for policy_data in policy_data_list  %}
                    <tr>
                        <td><span class="badge badge-info"> {{ policy_data.policy_number }}</span></td>
                        <td class="d-none d-md-table-cell"><span class="badge badge-info"> {{ policy_data.plan_number }}</span></td>
                        <td><span class="badge badge-warning"> R {{ policy_data.total_premiums | number}}.00</span></td>
                        <td class="d-none d-md-table-cell"><span class="badge badge-info"> {{ policy_data.get_previous_month_premium().scheduled_payment_date }}</span></td>
                        <td>
                            {% if policy_data.get_this_month_premium().checked_payment_status == payment_status.PAID.value  %}
                                <span class="badge badge-success">
                            {% elif policy_data.get_this_month_premium().checked_payment_status == payment_status.DUE.value %}
                                <span class="badge badge-warning">
                            {% else %}
                                <span class="badge badge-danger">
                            {% endif %}
                                    {{ policy_data.get_this_month_premium().checked_payment_status }}</span>


                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

                <nav aria-label="Page navigation m-t-8">
                    <ul class="pagination justify-content-center m-t-8">
                        {% if page > 0 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('covers.get_current_premiums_paged',branch_id=branch_id, page=page-1, count=count) }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ url_for('covers.get_current_premiums_paged',branch_id=branch_id,  page=page+1, count=count) }}">Next</a>
                        </li>
                    </ul>
                </nav>

        </div>


    </div>

</section>

{% endblock %}