
{% extends "layouts/page.html" %}
{% block content %}
    <section id="main-content">
    <div class="row flex-row">
        <div class="card shadow-lg border-info col-lg-6 col-sm-12 ">
            <div class="card-header shadow-sm border-info bg-facebook">
                <h3 class="card-title text-white">
                    <i class="fa fa-cc"> </i>
                    Quick Pay
                </h3>
            </div>
            <div class="card-body">
                <form class="form-horizontal" action="{{ url_for('covers.premiums_payments') }}" method="POST">
                        <div class="form-group shadow-sm">
                            <label class="font-weight-bold" for="branch_id">Select Branch</label>
                            <select id="branch_id" name="branch_id" class="form-control border-info" onchange="this.form.submit()">
                                <option value="" selected disabled>Select Branch</option>
                                {% for branch in company_branches %}
                                    <option value="{{ branch.branch_id }}" {% if branch_details and branch_details.branch_id == branch.branch_id %}selected{% endif %}>{{ branch.branch_name|title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% if clients_list %}
                        <div class="form-group shadow-sm">
                            <label class="font-weight-bold" for="client_id">Select Client</label>
                            <select id="client_id" name="client_id" class="form-control border-info" onchange="this.form.submit()">
                                <option value="" selected disabled>Select Client</option>
                                {% for client in clients_list %}
                                    <option value="{{ client.uid }}" {% if selected_client and selected_client.uid == client.uid %}selected{% endif %}>{{ client.full_names }} {{ client.surname }} {{ client.policy_number }} {{ client.id_number }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    {% if selected_client %}
                        <div class="form-group">
                            <ul class="list-group">

                                <li class="list-group-item">Client Name : <span class="text-info pull-right">{{ selected_client.full_names| title }}</span></li>
                                <li class="list-group-item">Surname : <span class="text-info pull-right">{{ selected_client.surname| title }}</span></li>
                                <li class="list-group-item">ID Number : <span class="text-info pull-right">{{ selected_client.id_number }}</span></li>

                                <li class="list-group-item m-t-6">Plan Number : <span class="pull-right badge badge-info">{{ selected_client.plan_number }}</span></li>
                                <li class="list-group-item">Policy Number : <span class="pull-right badge badge-success">{{ selected_client.policy_number }}</span></li>

                                <li class="list-group-item m-t-6">Payment Day: <span class="text-info pull-right">{{ policy_data.payment_day }}</span></li>
                                <li class="list-group-item">Payment Method: <span class="text-info pull-right">{{ policy_data.payment_method }}</span></li>

                                <li class="list-group-item m-t-6">Monthly Premium : <span class="text-success pull-right">R {{ policy_data.total_premiums| number }}.00</span></li>
                                <li class="list-group-item">Total Due : <span class="text-success pull-right">R {{ policy_data.total_balance_due| number }}.00</span></li>
                                {% set is_paid = False %}
                                <li class="list-group-item m-t-8 font-weight-bold"><span class="badge badge-info">Payment Status:</span>
                                    <span class="text-success pull-right">
                                        {% if policy_data.get_this_month_premium().checked_payment_status == payment_status.PAID.value %}
                                            <span class="badge badge-success text-accent-4">
                                                <i class="fa fa-thumbs-up"> </i>
                                                    {{ policy_data.get_this_month_premium().checked_payment_status }}
                                            </span>
                                            {% set is_paid = True %}
                                        {% endif %}
                                        {% if policy_data.get_this_month_premium().checked_payment_status == payment_status.DUE.value %}
                                            <span class="badge badge-warning">
                                            <i class="fa fa-thumbs-up"> </i>
                                                {{ policy_data.get_this_month_premium().checked_payment_status }}
                                            </span>
                                        {% endif %}

                                        {% if policy_data.get_this_month_premium().checked_payment_status == payment_status.OVERDUE.value %}
                                            <span class="badge badge-danger">
                                            <i class="fa fa-thumbs-down"> </i>
                                                {{ policy_data.get_this_month_premium().checked_payment_status }}
                                            </span>
                                        {% endif %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        {#    The Pay Button will show up when Premium is Not Yet Paid #}
                        {% if not is_paid %}
                            <div class="form-group">
                                <label for="payment_method">Select Payment Method</label>
                                <select id="payment_method" name="payment_method" class="form-control shadow-sm border-info">
                                    <option value="" selected disabled>Select Payment Method</option>
                                    {% for method in payment_methods %}
                                       <option value="{{ method }}">{{ method|title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="actual_amount">Actual Paid</label>
                                <input  value="{{ policy_data.total_premiums }}" type="number" name="actual_amount" id="actual_amount" class="form-control shadow-sm border-success">
                            </div>
                        {% endif %}
                    {% endif %}

                {% if not is_paid %}
                    <div class="form-group">
                        {% if selected_client %}
                            <button type="submit" class="btn btn-block btn-outline-info btn-rounded btn-lg">
                                <i class="fa fa-credit-card-alt"></i> Mark as Paid
                            </button>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="form-group">
                        {% if selected_client %}
                            <button type="submit" class="btn btn-block btn-outline-success btn-rounded btn-lg">
                                <i class="fa fa-print"></i> Reprint Receipt
                            </button>
                            <button type="submit" class="btn btn-block btn-outline-primary btn-rounded btn-lg">
                                <i class="fa fa-send-o"></i> Resend Notifications
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
                </form>
            </div>
        </div>

        <div class="card shadow-lg border-info col-lg-6 col-sm-12 ">
            <div class="card-header shadow-sm border-info bg-facebook">
                <h3 class="card-title text-white">
                    <i class="fa fa-cc"> </i>
                    Recent Historical Payments
                </h3>
            </div>
        <div class="card-body m-t-12">

            {% if  policy_data and policy_data.premiums %}
                <ul class="list-group">
                    {% set counter = 0 %}
                    {% for premium in policy_data.premiums %}
                        {% if premium.is_paid  and (counter < 2) %}

                            <li class="list-group-item"><span class="font-weight-bold">Scheduled Payment Date:</span> <span class="text-info pull-right">{{ premium.scheduled_payment_date }}</span></li>
                            <li class="list-group-item"><span class="font-weight-bold text-success">Date Paid:</span> <span class="text-success pull-right">{{ premium.date_paid }}</span></li>
                            <li class="list-group-item"><span class="font-weight-bold">Payment Method:</span> <span class="text-info pull-right">{{ premium.payment_method }}</span></li>
                            <li class="list-group-item m-t-8"><span class="font-weight-bold text-info">Monthly Payment:</span> <span class="text-info pull-right">R {{ premium.payment_amount| number }}.00</span></li>
                            <li class="list-group-item"><span class="font-weight-bold text-success">Amount Paid :</span> <span class="text-success pull-right">R {{ premium.amount_paid| number }}.00</span></li>
                            <li class="list-group-item m-t-8"><span class="font-weight-bold text-danger">Late Charges :</span> <span class="text-danger pull-right">R {{ premium.late_charges| number }}.00</span></li>
                            <li class="list-group-item"><span class="font-weight-bold text-danger">Balance Due:</span> <span class="text-danger pull-right">R {{ premium.balance_due|number }}.00</span></li>
                            {# this will advance counter on every interation  #}
                            {% set counter = counter + 1 %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        </div>
    </div>
    </section>
{% endblock %}