{% extends "layouts/page.html" %}

{% block custom_css %}
<style>
    /* styles.css */
    textarea.custom-textarea {
        width: auto;  /* 3 columns */
        height: auto; /* 12 rows */
        padding: 0.5em; /* Optional: padding for better visual */
        box-sizing: border-box; /* Include padding in size */
        resize: vertical; /* Disable manual resizing if needed */
        font-family: inherit; /* Use the same font as the rest of the page */
    }

</style>
{% endblock %}
{% block content %}

<section id="main-content">

{% include "admin/tasks/company/register_form.html" %}

</section>

{% endblock %}

