{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title font-weight-bold text-info">Company Details</h2>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th class="font-weight-bold">Company Name</th>
            <td>{{ company_data.company_name }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Company Description</th>
            <td>{{ company_data.company_description }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Company Slogan</th>
            <td>{{ company_data.company_slogan }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Registration Number</th>
            <td>{{ company_data.reg_ck }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">VAT Number</th>
            <td>{{ company_data.vat_number }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Date Registered</th>
            <td>{{ company_data.date_registered }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Total Users</th>
            <td>{{ company_data.total_users }}</td>
          </tr>
          <tr>
            <th class="font-weight-bold">Total Clients</th>
            <td>{{ company_data.total_clients }}</td>
          </tr>
        </tbody>
      </table>
<hr/>
      <h2 class="card-title font-weight-bold text-info">Company Branches</h2>
      {% if branches %}
        <ul class="list-group">
          {% for branch_id, branch_details in branches.items() %}
            <li class="list-group-item">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title font-weight-bold">Branch Name: {{ branch_details.branch.branch_name }}</h4>
                    </div>
                  <div class="card-body">
                      <ul class="list-group">
                          <li class="list-group-item">Description: {{ branch_details.branch.branch_description }}</li>
                          <li class="list-group-item">Total Clients: {{ branch_details.branch.total_clients }}</li>
                          <li  class="list-group-item">Total Employees: {{ branch_details.branch.total_employees }}</li>
                      </ul>
                  </div>
                </div>
                  {% if branch_details.contact %}
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title font-weight-bold">Contact Information</h5>
                        </div>
                        <ul class="list-group">
                          <li>Email: {{ branch_details.contact.email }}</li>
                          <li>Cell Phone: {{ branch_details.contact.cell }}</li>
                          {% if branch_details.contact.tel %}
                            <li>Telephone: {{ branch_details.contact.tel }}</li>
                          {% endif %}
                          </ul>
                    </div>
                  {% endif %}

              {% if branch_details.postal_address %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title font-weight-bold">Postal Address</h5>
                    </div>
                    <ul class="list-group">
                        <li>{{ branch_details.postal_address.address_line_1 }}</li>
                        <li>{{ branch_details.postal_address.town_city }}, {{ branch_details.postal_address.province }}</li>
                        <li>{{ branch_details.postal_address.postal_code }}, {{ branch_details.postal_address.country }}</li>
                    </ul>
                </div>
              {% endif %}

              {% if branch_details.physical_address %}
              <div class="card">
                <div class="card-header">
                    <h5 class="card-title font-weight-bold">Physical Address</h5>
                </div>
                <ul class="list-group">
                    <li>{{ branch_details.physical_address.street }}</li>
                    <li>{{ branch_details.physical_address.city }}, {{ branch_details.physical_address.state_province }}</li>
                    <li>{{ branch_details.physical_address.postal_code }}, {{ branch_details.physical_address.country }}</li>
                </ul>
              </div>
              {% endif %}

              {% if branch_details.bank_account %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title font-weight-bold">Bank Account Details</h5>
                    </div>
                    <ul class="list-group">
                        <li>Account Holder: {{ branch_details.bank_account.account_holder }}</li>
                        <li>Account Number: {{ branch_details.bank_account.account_number }}</li>
                        <li>Bank Name: {{ branch_details.bank_account.bank_name }}</li>
                        <li>Branch: {{ branch_details.bank_account.branch }}</li>
                        <li>Account Type: {{ branch_details.bank_account.account_type }}</li>
                    </ul>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>This company has no branches.</p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock %}
