{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title font-weight-bold text-info">Company Details</h2>


    </div>

        <div class="card-body">
          <table class="table table-striped col-9">
            <tbody>
              <tr>
                <th class="font-weight-bold">Company Name</th>
                <td>{{ company_data.company_name }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Company Description</th>
                <td>{{ company_data.company_description }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Company Slogan</th>
                <td>{{ company_data.company_slogan }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Registration Number</th>
                <td>{{ company_data.reg_ck }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">VAT Number</th>
                <td>{{ company_data.vat_number }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Date Registered</th>
                <td>{{ company_data.date_registered }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Total Users</th>
                <td>{{ company_data.total_users }}</td>
              </tr>
              <tr>
                <th class="font-weight-bold">Total Clients</th>
                <td>{{ company_data.total_clients }}</td>
              </tr>
            </tbody>
          </table>
          <hr/>
          <h2 class="card-title font-weight-bold text-info">Company Branches</h2>
          {% if branches %}
            <div class="accordion" id="branchAccordion">
              {% for branch_id, branch_details in branches.items() %}
                <div class="card">
                  <div class="card-header" id="heading{{ branch_id }}">
                    <h5 class="mb-0">
                      <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse" data-target="#collapse{{ branch_id }}" aria-expanded="true" aria-controls="collapse{{ branch_id }}">
                        Branch Name: {{ branch_details.branch.branch_name }}
                      </button>
                    </h5>
                  </div>
                  <div id="collapse{{ branch_id }}" class="collapse" aria-labelledby="heading{{ branch_id }}" data-parent="#branchAccordion">
                    <div class="card-body">
                      <ul class="list-group col-9">
                          <li class="list-group-item font-weight-bold">Description: <span class="text-info pull-right">{{ branch_details.branch.branch_description }}</span></li>
                          <li class="list-group-item font-weight-bold">Total Clients: <span class="text-info pull-right">{{ branch_details.branch.total_clients }}</span></li>
                          <li class="list-group-item font-weight-bold">Total Employees: <span class="text-info pull-right">{{ branch_details.branch.total_employees }}</span></li>
                      </ul>
                      {% if branch_details.contact %}
                        <h5 class="card-title mt-3 font-weight-bold">Contact Information</h5>
                        <ul class="list-group col-9">
                          <li class="list-group-item">
                              <span class="font-weight-bold">
                                  Email: <span class="text-info font-weight-bold"> <a class="text-info font-weight-bold pull-right" href="mailto:{{ branch_details.contact.email }}"> {{ branch_details.contact.email }}</a> </span></span>
                          </li>
                            <li class="list-group-item"><span class="font-weight-bold"> Cell Phone: <a class="text-info font-weight-bold pull-right" href="mobile:{{ branch_details.contact.cell }}"> {{ branch_details.contact.cell }}</a></span></li>
                              {% if branch_details.contact.tel %}
                                <li class="list-group-item font-weight-bold">Telephone: <span class="text-info pull-right">{{ branch_details.contact.tel }}</span></li>
                              {% endif %}
                        </ul>
                      {% endif %}
                      {% if branch_details.postal_address %}
                        <h5 class="card-title mt-3 font-weight-bold">Postal Address</h5>
                        <ul class="list-group col-9">
                          <li class="list-group-item font-weight-bold">{{ branch_details.postal_address.address_line_1 }}</li>
                          <li class="list-group-item font-weight-bold">{{ branch_details.postal_address.town_city }}, {{ branch_details.postal_address.province }}</li>
                          <li class="list-group-item font-weight-bold">{{ branch_details.postal_address.postal_code }}, {{ branch_details.postal_address.country }}</li>
                        </ul>
                      {% endif %}
                      {% if branch_details.physical_address %}
                        <h5 class="card-title mt-3 font-weight-bold">Physical Address</h5>
                        <ul class="list-group col-9">
                          <li class="list-group-item">{{ branch_details.physical_address.street }}</li>
                          <li class="list-group-item">{{ branch_details.physical_address.city }}, {{ branch_details.physical_address.state_province }}</li>
                          <li class="list-group-item">{{ branch_details.physical_address.postal_code }}, {{ branch_details.physical_address.country }}</li>
                        </ul>
                      {% endif %}
                      {% if branch_details.bank_account %}
                        <h5 class="card-title mt-3 font-weight-bold">Bank Account Details</h5>
                        <ul class="list-group col-9">
                            <li class="list-group-item font-weight-bold">Account Holder: <span class="text-info pull-right"> {{ branch_details.bank_account.account_holder }}</span></li>
                            <li class="list-group-item font-weight-bold">Account Number: <span class="text-info pull-right">{{ branch_details.bank_account.account_number }}</span></li>
                            <li class="list-group-item font-weight-bold">Bank Name: <span class="text-info pull-right">{{ branch_details.bank_account.bank_name }}</span></li>
                            <li class="list-group-item font-weight-bold">Branch: <span class="text-info pull-right">{{ branch_details.bank_account.branch }}</span></li>
                            <li class="list-group-item font-weight-bold">Account Type: <span class="text-info pull-right">{{ branch_details.bank_account.account_type }}</span></li>
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p>This company has no branches.</p>
          {% endif %}
        </div>

        <div class="card-footer">
            <a class="btn btn-primary btn-rounded text-white font-weight-bold" href="{{ url_for('system.get_companies') }}">
                <i class="fa fa-folder"> </i>
                Companies
            </a>

            <a class="btn btn-default btn-rounded text-white font-weight-bold pull-right" href="#">
                <i class="fa fa-envelope"> </i>
                Send Email
            </a>
            <a class="btn btn-default btn-rounded text-white font-weight-bold pull-right" href="{{ url_for('system.get_company_subscription', company_id=company_data.company_id) }}">
                <i class="fa fa-shopping-basket"> </i>
                Subscriptions
            </a>
            <a class="btn btn-default btn-rounded text-white font-weight-bold pull-right" href="#">
                <i class="fa fa-line-chart"> </i>
                Statistics
            </a>

        </div>

  </div>
</section>

{% endblock %}
