{% extends "layouts/page.html" %}

{% block content %}
<section id="main-content">
    <div class="card shadow-lg border-primary mb-4">
        <div class="card-header bg-facebook">
            <h3 class="card-title text-white">Employee Details</h3>
        </div>

        <div class="card shadow-lg border-primary">
            <div class="card-header bg-facebook">
                <h3 class="card-title text-white">
                    <i class="fa fa-user-circle-o"> </i>
                    Personal Details
                </h3>
            </div>
        {% if employee_detail %}
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Names: <span class="pull-right">{{ employee_detail.full_names|title }}</span></li>
                    <li class="list-group-item">Surname: <span class="pull-right">{{ employee_detail.last_name|title }}</span></li>
                    <li class="list-group-item">ID Number: <span class="pull-right">{{ employee_detail.id_number }}</span></li>
                    <li class="list-group-item m-t-12">Role: <span class="pull-right">{{ employee_detail.role|title }}</span></li>
                    <li class="list-group-item">Position: <span class="pull-right">{{ employee_detail.position|title }}</span></li>
                    <li class="list-group-item">Salary: <span class="pull-right text-info">R {{ employee_detail.salary|number }}.00</span></li>
                    <li class="list-group-item m-t-8">Employee Account Active:
                        {% if employee_detail.is_active %}
                            <span class="pull-right badge badge-success"><i class="fa fa-thumbs-up"> </i> {{ employee_detail.is_active }}</span>
                        {% else %}
                            <span class="pull-right badge badge-danger"><i class="fa fa-thumbs-down"> </i> {{ employee_detail.is_active }}</span>
                        {% endif %}

                    </li>
                    <li class="list-group-item">
                         <button class="btn btn-outline-success btn-rounded">
                             <i class="fa fa-edit"> </i>
                             Edit
                         </button>
                    </li>
                </ul>
            </div>

            <div class="card-footer">
                <button class="btn btn-outline-primary btn-rounded">
                    <i class="fa fa-envelope-square"> </i>
                    Contact Details
                </button>
                <button class="btn btn-outline-primary btn-rounded">
                    <i class="fa fa-bank"> </i>
                    Banking Details
                </button>
                <button class="btn btn-outline-primary btn-rounded">
                    <i class="fa fa-envelope-square"> </i>
                    Postal Address
                </button>
                <button class="btn btn-outline-primary btn-rounded">
                    <i class="fa fa-map-marker"> </i>
                    Physical Address
                </button>
            </div>
        {% else %}
            <div class="card-body">
                <form method="post" action="{{ url_for('employees.update_employee_details') }}">

                    {% if employee_details %}
                        <input type="hidden" id="employee_id" name="employee_id" value="{{ employee_details.employee_id }}">
                    {% endif %}

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="full_names" class="form-label">Full Names</label>
                            <input type="text" class="form-control" id="full_names" name="full_names" {% if employee_detail %}value="{{ employee_detail.full_names }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" {% if employee_detail %}value="{{ employee_detail.last_name }}"{% endif %} required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" {% if employee_detail %}value="{{ employee_detail.email }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="contact_number" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="contact_number" name="contact_number" {% if employee_detail %} value="{{ employee_detail.contact_number }}"{% endif %} required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="position" class="form-label">Position</label>
                            <input type="text" class="form-control" id="position" name="position" {% if employee_detail %}value="{{ employee_detail.position }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="salary" name="salary" {% if employee_detail %}value="{{ employee_detail.salary }}"{% endif %} required>
                        </div>

                    </div>

                    <div class="row mb-3">
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="role" class="form-label">Role</label>
                        {% if employee_roles %}
                            <select name="role" id="role" class="form-control">
                                <option value="" disabled {% if not employee_detail %} selected {% endif %}>Select Employee Role</option>
                                {% for role in employee_roles %}
                                    <option value="{{ role }}" {% if employee_detail and employee_detail.role == role %} selected {% endif %}>{{ role|title }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        </div>

                        <div class="col-md-6">
                            <label for="date_of_birth" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" {% if employee_detail %}value="{{ employee_detail.date_of_birth }}"{% endif %} required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="id_number" class="form-label">ID Number</label>
                            <input type="text" class="form-control"
                                   id="id_number" name="id_number"
                                   {% if employee_detail %}value="{{ employee_detail.id_number }}"{% endif %} required>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Update Details</button>
                    </div>

                </form>

            </div>
        {% endif %}
        </div>
    </div>

{#    <div class="card shadow-lg border-primary">#}
{#        <div class="card-header bg-facebook">#}
{#            <h3 class="card-title">Edit Employee Details</h3>#}
{#        </div>#}
{#        <div class="card-body">#}
{##}
{#        </div>#}
{#    </div>#}
</section>
{% endblock %}
