{% extends "layouts/page.html" %}
{% block content %}
<section id="main-content">
    <div class="card shadow-lg border-primary mb-4">
        <div class="card-header bg-facebook">
            <h3 class="card-title text-white">Employee Details</h3>
        </div>
        <div class="card shadow-lg border-primary">
            <div class="card-header bg-facebook">
                <h3 class="card-title text-white">
                    <i class="fa fa-user-circle-o"> </i>
                    Personal Details
                </h3>
            </div>
        {% if employee_detail %}
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Names: <span class="pull-right">{{ employee_detail.full_names|title }}</span></li>
                    <li class="list-group-item">Surname: <span class="pull-right">{{ employee_detail.last_name|title }}</span></li>
                    <li class="list-group-item">ID Number: <span class="pull-right">{{ employee_detail.id_number }}</span></li>
                    <li class="list-group-item m-t-12">Role: <span class="pull-right">{{ employee_detail.role|title }}</span></li>
                    <li class="list-group-item">Position: <span class="pull-right">{{ employee_detail.position|title }}</span></li>
                    <li class="list-group-item">Salary: <span class="pull-right text-info">R {{ employee_detail.salary|number }}.00</span></li>
                    <li class="list-group-item m-t-8">Employee Account Active:
                        {% if employee_detail.is_active %}
                            <span class="pull-right badge badge-success"><i class="fa fa-thumbs-up"> </i> {{ employee_detail.is_active }}</span>
                        {% else %}
                            <span class="pull-right badge badge-danger"><i class="fa fa-thumbs-down"> </i> {{ employee_detail.is_active }}</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item">
                        <button type="button" class="btn btn-outline-success btn-rounded"
                                data-toggle="modal" data-target="#employeeModal">
                            <i class="fa fa-edit"> </i>
                            Editor
                        </button>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                {% if not contact_details %}
                    <button type="button" class="btn btn-outline-primary btn-rounded"
                            data-toggle="modal" data-target="#ContactsModal"
                    >
                        <i class="fa fa-envelope-square"> </i>
                        Contact Details
                    </button>
                {% endif %}
                {% if not bank_account %}
                    <button class="btn btn-outline-primary btn-rounded"
                            data-toggle="modal" data-target="#bankingModal"
                    >
                        <i class="fa fa-edit"> </i>
                        Banking Details
                    </button>
                {% endif %}
                {% if not  postal_address %}
                    <button class="btn btn-outline-primary btn-rounded"
                            data-toggle="modal" data-target="#postalModal"
                    >
                        <i class="fa fa-envelope-square"> </i>
                        Postal Address
                    </button>
                {% endif %}
                {% if not  physical_address %}
                    <button class="btn btn-outline-primary btn-rounded"
                            data-toggle="modal" data-target="#physicalModal"
                    >
                        <i class="fa fa-map-marker"> </i>
                        Physical Address
                    </button>
                {% endif %}

            </div>
        {% else %}
            <div class="card-body">
             {% include "admin/employees/forms/personal_details.html" %}
            </div>
        {% endif %}
        </div>
        {% if employee_detail and bank_account %}
            {% include 'admin/employees/banking.html' %}
        {% endif %}
        {% if employee_detail and contact_details %}
            {% include 'admin/employees/contacts.html' %}
        {% endif %}
        {% if employee_detail and postal_address  %}
            {% include 'admin/employees/postal.html' %}
        {% endif %}
        {% if employee_detail and physical_address  %}
            {% include 'admin/employees/physical.html' %}
        {% endif %}

    </div>
</section>
{% endblock %}
{% include 'admin/employees/modals/personal_editor.html' %}
{% include 'admin/employees/modals/contact_editor.html' %}
{% include 'admin/employees/modals/postal_address.html' %}
{% include 'admin/employees/modals/physical.html' %}
{% include 'admin/employees/modals/banking.html' %}
