<div class="card shadow-lg border-primary">
    <div class="card-header bg-facebook">
        <h3 class="card-title text-white">
            <i class="fa fa-map-marker"> </i>
            Physical Address
        </h3>
    </div>
    <div class="card-body">
        <ul class="list-group col-12">
            <li class="list-group-item font-weight-bold">Employee Name: <span class="font-italic text-info pull-right">{{ employee_detail.full_names|title }} {{ employee_detail.last_name|title }}</span></li>
            <li class="list-group-item font-weight-bold">Street: <span class="font-italic text-info pull-right">{{ physical_address.street|title }}</span></li>
            <li class="list-group-item font-weight-bold">Town/City: <span class="font-italic text-info pull-right">{{ physical_address.city|title }}</span></li>
            <li class="list-group-item font-weight-bold">Province: <span class="font-italic text-info pull-right">{{ physical_address.state_province|title }}</span></li>
            <li class="list-group-item font-weight-bold">Postal Code: <span class="font-italic text-info pull-right">{{ physical_address.postal_code }}</span></li>
            <li class="list-group-item font-weight-bold">Country: <span class="font-italic text-info pull-right">{{ physical_address.country|title }}</span></li>
        </ul>
    </div>
    <div class="card-footer">
        <button class="btn btn-outline-success btn-rounded" data-toggle="modal" data-target="#physicalModal">
            <i class="fa fa-edit"> </i>
            Editor
        </button>
    </div>
</div>