{% extends "layouts/page.html" %}
{% block content %}
    <section id="main-content">
        <div class="container mt-4">
            <!-- Policy Data Card -->
            <div class="card shadow-lg border-info mb-4">
                <div class="card-header bg-facebook">
                    <h3 class="card-title text-white">
                        <i class="fa fa-user-circle"></i>
                        Claimant's Personal Information
                    </h3>
                </div>
                <div class="card-body">
                    <!-- Step 1: Claimant's Personal Information -->
                    {% if claim_data and not claimant_data %}
                        {% include "claims/sections/claimant_inserts/personal_details.html" %}
                    {% endif %}

                    <!-- Step 2: Claimant's Bank Details -->
                    {% if claim_data and claimant_data and not bank_account %}
                        {% include "claims/sections/claimant_inserts/bank_details.html" %}
                    {% endif %}

                    <!-- Step 3: Attach Official Documents -->
                    {% if claim_data and claimant_data and  bank_account and not claim_files %}
                        {% include "claims/sections/claimant_inserts/claim_files.html" %}
                    {% endif %}

                    <!-- Display Loaded Data -->
                    {% if claim_data and claimant_data %}
                    <div class="alert alert-info">
                        <h5>Claim Number: {{ claim_data.claim_number }}</h5>
                        <p>Claimant ID: {{ claimant_data.id_number }}</p>
                        <p>Full Name: {{ claimant_data.full_names }} {{ claimant_data.surname }}</p>
                        <p>Cell: {{ claimant_data.cell }}</p>
                        <p>Email: {{ claimant_data.email }}</p>
                        <p>Relationship to Deceased: {{ claimant_data.relationship_to_deceased }}</p>
                    </div>
                    {% endif %}

                    {% if bank_account %}
                    <div class="alert alert-info">
                        <h5>Bank Name: {{ bank_account.bank_name }}</h5>
                        <p>Account Number: {{ bank_account.account_number }}</p>
                        <p>Branch Code: {{ bank_account.branch_code }}</p>
                    </div>
                    {% endif %}

                    {% if claim_files %}
                    <div class="alert alert-info">
                        <h5>Uploaded Documents:</h5>
                        <ul>
                            {% for file in claim_files %}
                                <li><a href="{{ url_for('static', filename=file) }}" target="_blank">{{ file|basename }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
