



    <h4 class="mt-4">Deceased's Information</h4>
    <div class="form-group">
        <label for="deceased_full_name">Full Name:</label>
        <input type="text" id="deceased_full_name" name="deceased_full_name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="deceased_id_number">ID Number:</label>
        <input type="text" id="deceased_id_number" name="deceased_id_number" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="deceased_date_of_birth">Date of Birth:</label>
        <input type="date" id="deceased_date_of_birth" name="deceased_date_of_birth" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="deceased_date_of_death">Date of Death:</label>
        <input type="date" id="deceased_date_of_death" name="deceased_date_of_death" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="death_certificate">Death Certificate:</label>
        <input type="file" id="death_certificate" name="death_certificate" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
    </div>


    <h4 class="mt-4">Additional Documents</h4>
        <div class="form-group">
            <label for="proof_of_relationship">Proof of Relationship:</label>
            <input type="file" id="proof_of_relationship" name="proof_of_relationship" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
        <div class="form-group">
            <label for="funeral_invoice">Funeral/Burial Invoice:</label>
            <input type="file" id="funeral_invoice" name="funeral_invoice" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>
        <div class="form-group">
            <label for="medical_certificate">Medical Certificate (if required):</label>
            <input type="file" id="medical_certificate" name="medical_certificate" class="form-control-file" accept=".pdf,.jpg,.jpeg,.png">
        </div>
