{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card shadow-lg border-warning">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info">
                <i class="fa fa-ticket"></i>
                View Ticket
            </h2>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-6">
                    <h5 class="font-weight-bold">Ticket Details</h5>
                <ul class="list-group">
                    <li class="list-group-item"> <span class="text-info font-weight-light">Category: </span> <span class="font-weight-bold pull-right text-right">{{ support_ticket.ticket_type | title }}</span></li>
                    <li class="list-group-item"> <span class="text-info font-weight-light">Priority: </span> <span class="font-weight-bold pull-right">{{ support_ticket.priority | title}}</span></li>
                    <li class="list-group-item"> <span class="text-info font-weight-light">Subject:</span> <span class="font-weight-bold pull-right">{{ support_ticket.subject | title }}</span></li>
                    <li class="list-group-item m-t-6">
                        <span class="font-italic">Status:</span>
                        {% if support_ticket.status == 'open' %}
                            <span class="badge badge-success pull-right">Open</span>
                        {% elif support_ticket.status == 'in_progress' %}
                            <span class="badge badge-warning pull-right">In Progress</span>
                        {% elif support_ticket.status == 'resolved' %}
                            <span class="badge badge-primary pull-right">Resolved</span>
                        {% elif support_ticket.status == 'closed' %}
                            <span class="badge badge-secondary pull-right">Closed</span>
                        {% else %}
                            <span class="badge badge-light pull-right">Unknown</span>
                        {% endif %}
                    </li>
                    <li class="list-group-item"> <span class="text-success">Created At:</span> <span class="pull-right">{{ support_ticket.created_at }}</span></li>
                    <li class="list-group-item"> <span class="text-warning">Updated At:</span> <span class="pull-right">{{ support_ticket.updated_at }}</span></li>
                    <li class="list-group-item">
                        <form class="form-horizontal"
                              action="{{ url_for('support.resolve_ticket', ticket_id=support_ticket.ticket_id) }}"
                              method="POST"
                        >

                            <button type="submit" class="btn btn-block btn-outline-success btn-sm btn-rounded">
                                <span class="font-weight-bold">
                                    <i class="fa fa-info"></i>
                                        Is Issue Resolved ?
                                </span>
                            </button>
                        </form>
                    </li>

                </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="font-weight-bold">Messages</h5>
                    <div class="list-group">
                        {% for message in support_ticket.sorted_messages %}
                            <div class="list-group-item list-group-item-action">

                                <div class="d-flex w-100 justify-content-between m-t-9">
                                    <span class="mb-1"> <span class="text-success">from:</span> <span class="text-info">{{ uid_email_tags.get(message.sender_id) }}</span></span>
                                    <small>{{ message.created_at }}</small>
                                </div>
                                <div class="border-info">
                                    <span class="mb-1">{{ message.message }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                 <div class="col-md-12">
                     <h5 class="font-weight-bold">Response</h5>
                     <form class="form-horizontal" method="POST" action="{{ url_for('support.respond_to_ticket', ticket_id=support_ticket.ticket_id) }}">
                         <div class="form-group">
                             <label for="message">Message</label>
                             <textarea id="message" name="message" class="form-control-lg form-control"></textarea>
                         </div>

                            <button type="submit"
                                    class="btn btn-block btn-outline-primary btn-rounded btn-sm"
                            >
                                <span class="font-weight-bold">
                                    <i class="fa fa-send"> </i>
                                    Respond
                                </span>
                            </button>

                     </form>

                <form class="form-horizontal m-t-9"
                      action="{{ url_for('support.close_ticket', ticket_id=support_ticket.ticket_id) }}"
                      method="POST">

                        <button type="submit"
                                class="btn btn-block btn-outline-danger btn-rounded btn-sm"
                        >
                        <span class="font-weight-bold">
                            <i class="fa fa-power-off"> </i>
                            Close Ticket
                        </span>
                        </button>

                </form>

                 </div>


            </div>

        </div>
    </div>
</section>

{% endblock %}
