


{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info"> Subscriptions </h2>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="font-weight-bold text-info">
                        <td>Plan Name</td>
                        <td>Description</td>
                        <td>Date</td>
                        <td>Users</td>
                        <td>Clients</td>
                    </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
    </div>

</section>

{% endblock %}