
{% for branch in company_branches %}
    <div class="card mb-4">
        <div class="card-header">
            <h4 class="card-title">{{ branch.branch_name| title }} Branch <small>OutBox Messages</small></h4>
            <p class="font-weight-bold">{{ branch.description }}</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% if branch.branch_id in branch_messages %}
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>To</th>
                                <th>Subject</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for message in branch_messages[branch.branch_id] %}
                                <tr>
                                    <td>{{ message.to_email }}</td>
                                    <td>
                                        <a href="{{ url_for('messaging.get_outbox_email_message', message_id=message.message_id) }}" class="font-weight-bold text-info">
                                            {{ message.subject }}
                                        </a>
                                    </td>
                                    <td>{{ message.date_time_sent }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No sent messages for this branch.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
