
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="card-title font-weight-bold"> Accounts</h2>
            <div>

            </div>
        </div>
        <div class="card-body">
            <form class="form-horizontal" method="POST" action="{{ url_for('admin.update_account') }}">
                <div class="form-group">
                    <label class="font-weight-bold">Username</label>
                    <input class="form-control" name="username" value="{{ account.username }}" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Email</label>
                    <input class="form-control" name="email" value="{{ account.email }}" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Account Verified</label>
                    <select class="form-control" name="account_verified">
                        {% if account.account_verified %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                        {% else %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">Is System Admin</label>
                    <select class="form-control" name="account_verified">
                        {% if account.is_system_admin %}
                        <option value="True" selected>True</option>
                        <option value="False">False</option>
                        {% else %}
                        <option value="True">True</option>
                        <option value="False" selected>False</option>
                        {% endif %}
                    </select>
                </div>

                <div class="form-group">
                    <button class="btn btn-sm btn-secondary">
                        <i class="ti-save"></i>
                        Update Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}