
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
<div class="row">
    <div class="col-lg-12">
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2 class="header-link"> <i class="ti ti-email"></i> Email Service</h2>
        </div>
        <div class="card-body">

            <table class="table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <td class="font-weight-bold text-info">Email</td>
                        <td class="font-weight-bold text-info">Email Stub</td>
                        <td class="font-weight-bold text-info">Term</td>
                        <td class="font-weight-bold text-info">Total Emails</td>
                        <td class="font-weight-bold text-info">Is Active</td>
                        <td class="font-weight-bold text-info">Is Running</td>
                    </tr>
                </thead>
                <tbody>
                {% for email_service in email_services %}
                    <tr>
                        <td>{{ email_service.email }}</td>
                        <td>{{ email_service.email_stub }}</td>
                        <td>{{ email_service.subscription_term }}</td>
                        <td>{{ email_service.total_emails }}</td>
                        <td>{{ email_service.subscription_active }}</td>
                        <td>{{ email_service.subscription_running }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    </div>
</div>
</section>

{% include "admin/modals/add_gift_codes.html" %}

{% endblock %}