
{% extends "layouts/page.html" %}

{% block content %}
<section id="main-content">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="giftCodes-tab" data-toggle="tab" href="#giftCodes" role="tab" aria-controls="giftCodes" aria-selected="true">LSS Gift Codes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="freeService-tab" data-toggle="tab" href="#freeService" role="tab" aria-controls="freeService" aria-selected="false">Free Service</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="giftCodes" role="tabpanel" aria-labelledby="giftCodes-tab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h2 class="header-link"> <i class="ti ti-gift"></i> LSS Gift Codes</h2>
                            <div>
                                <a href="#" class="btn btn-sm btn-success mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#showAddGiftCode">Add Gift Codes</a>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><strong>Code</strong></th>
                                    <th><strong>Date Submitted</strong></th>
                                    <th><strong>Valid</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gift_code in gift_codes %}
                                <tr>
                                    <td>{{ gift_code.code }}</td>
                                    <td>{{ gift_code.date_submitted }}</td>
                                    <td>{{ gift_code.is_valid }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="freeService" role="tabpanel" aria-labelledby="freeService-tab">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="header-link">
                                <i class="fa fa-code"> </i>
                                Free Service
                            </h2>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Base Name</th>
                                        <th>Level</th>
                                        <th>State</th>
                                        <th>Power</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Add your table rows here -->
                                    {% for base in free_users %}
                                        <tr>
                                            <td>{{ base.base_name }}</td>
                                            <td>{{ base.base_level }}</td>
                                            <td>{{ base.state }}</td>
                                            <td>{{ base.power }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include "admin/modals/add_gift_codes.html" %}

{% endblock %}