


<form action="{{ url_for('clients.add_client') }}" method="post">

    <input type="hidden" name="company_id" value="{{ user.company_id }}">

    <div class="form-group">
        <label class="font-weight-bold" for="branch_id">Select Branch</label>
        <select id="branch_id" name="branch_id" class="form-control">
            <option value="" disabled selected>Select Branch</option>
            {% for branch in company_branches %}
                <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label class="font-weight-bold" for="plan_number">Select Plan</label>
        <select name="plan_number" id="plan_number" class="form-control">
            <option value="" disabled selected>Please select Plan</option>
            {% for plan in plan_covers %}
                <option value="{{ plan.plan_number }}">
                    {{ plan.plan_name| title }}, {{ plan.plan_type| title }}, R {{ plan.premium_costs| number }}.00, R {{ plan.coverage_amount| number }}.00
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="title" class="font-weight-bold">Title</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>

    <div class="form-group">
        <label for="full_names"  class="font-weight-bold">Full Names</label>
        <input type="text" class="form-control" id="full_names" name="full_names" required>
    </div>

    <div class="form-group">
        <label for="surname" class="font-weight-bold">Surname</label>
        <input type="text" class="form-control" id="surname" name="surname" required>
    </div>

    <div class="form-group">
        <label for="id_number" class="font-weight-bold">ID Number</label>
        <input type="text" class="form-control" id="id_number" name="id_number" required>
    </div>

    <div class="form-group">
        <label for="date_of_birth" class="font-weight-bold">Date of Birth</label>
        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
    </div>

    <div class="form-group">
        <label for="nationality" class="font-weight-bold">Nationality</label>
        <select class="form-control" id="nationality" name="nationality" required>
            <option value="" disabled selected>Select Nationality</option>
            <option value="Angola">Angola</option>
            <option value="Benin">Benin</option>
            <option value="Botswana">Botswana</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cabo Verde">Cabo Verde</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Central African Republic">Central African Republic</option>
            <option value="Chad">Chad</option>
            <option value="Comoros">Comoros</option>
            <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
            <option value="Republic of the Congo">Republic of the Congo</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Ghana">Ghana</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Ivory Coast">Ivory Coast</option>
            <option value="Kenya">Kenya</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Mali">Mali</option>
            <option value="Mauritania">Mauritania</option>
            <option value="Mauritius">Mauritius</option>
            <option value="Mozambique">Mozambique</option>
            <option value="Namibia">Namibia</option>
            <option value="Niger">Niger</option>
            <option value="Nigeria">Nigeria</option>
            <option value="Rwanda">Rwanda</option>
            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
            <option value="Senegal">Senegal</option>
            <option value="Seychelles">Seychelles</option>
            <option value="Sierra Leone">Sierra Leone</option>
            <option value="Somalia">Somalia</option>
            <option value="South Africa">South Africa</option>
            <option value="South Sudan">South Sudan</option>
            <option value="Sudan">Sudan</option>
            <option value="Swaziland">Swaziland</option>
            <option value="Tanzania">Tanzania</option>
            <option value="Togo">Togo</option>
            <option value="Uganda">Uganda</option>
            <option value="Zambia">Zambia</option>
            <option value="Zimbabwe">Zimbabwe</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
