<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info">
                <i class="ti ti-file"> </i>
                How to List Game Accounts in Our Marketplace
            </h2>
        </div>
        <div class="card-body">
            <ol class="list-group">
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> Ensure your game account is added to your account list in your <a href="{{ url_for('profile.get_accounts') }}" class="font-weight-bold text-danger">Profile dashboard</a>.</li>
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> Navigate to Dashboard under Market, then click on >> <a href="{{ url_for('market.get_game_accounts') }}" class="font-weight-bold text-danger">Start Account Listing</a>.</li>
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> A modal box will appear allowing you to fill in your account details, including your game ID, selling price, login email (im30), password, and PIN if available.</li>
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> Once you've completed the form, your account will start appearing in your dashboard with a status indicator indicating that the account is not yet listed.</li>
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> Click on your account and then add extra details, such as the number of gold sets, gold cards, etc.</li>
                <li class="list-group-item"><span class="text-info font-weight-bold">-</span> Update your account, and then it will appear publicly.</li>
            </ol>
        </div>
    </div>
</section>