{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
<!-- Tab navigation -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="accounts-tab" data-toggle="tab" href="#accounts" role="tab" aria-controls="accounts" aria-selected="true">Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="create-job-tab" data-toggle="tab" href="#create-job" role="tab" aria-controls="create-job" aria-selected="false">Create Job</a>
    </li>
</ul>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">
    <!-- Accounts tab -->
    <div class="tab-pane fade show active" id="accounts" role="tabpanel" aria-labelledby="accounts-tab">
        <section id="main-content">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h2 class="card-title font-weight-bold">Accounts</h2>
                    <div>
                        <span class="font-weight-bold">Total Accounts : <span class="text-info">{{ total_accounts }}</span></span>
                    </div>
                </div>

                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Progress</th>
                            <th>Index</th>
                            <th>Completed</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs_list %}
                        <tr>
                            <td>{{ job.email }}</td>
                            <td>{% if job.job_in_progress %} In Progress {% else %} Not in Progress {% endif %}</td>
                            <td>{{ job.file_index }}</td>
                            <td>{% if job.job_completed %} Completed {% else %} Not Completed {% endif %}</td>
                            <td>{{ job.password_found or "N/A" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- Create Job tab -->
    <div class="tab-pane fade" id="create-job" role="tabpanel" aria-labelledby="create-job-tab">
        <section id="create-job-content">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title font-weight-bold">Create Job</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{{url_for('admin.create_job')}}">
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</section>
{% endblock %}
