
{% extends "layouts/page.html" %}

{% block content %}
{% include "layouts/social.html" %}
<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title font-weight-bold text-info"> About Last Shelter Survival Marketplace</h2>
        </div>

        <div class="card">
            <h2 class="card-title font-weight-bold text-info"> Who We Are</h2>
            <p>Last Shelter Survival Marketplace is a platform created for gamers of Last Shelter Survival. We provide a dedicated space for players to buy and sell in-game items, facilitating the exchange of game accounts, farms, skins, and more.</p>
        </div>
        <div class="card">
            <h2 class="card-title font-weight-bold text-info"> Our Mission</h2>
            <p>Our mission is to empower Last Shelter Survival players by offering them a secure and convenient marketplace to trade in-game items.
                We also offer them tools and services to help make their gaming experience more enjoyable.</p>
        </div>
        <div class="card">
            <h2 class="card-title font-weight-bold text-info">What We Offer</h2>
            <p>Last Shelter Survival Marketplace allows users to:</p>
            <ul class="list-group">
                <li class="list-group-item">Buy and Sell Game accounts</li>
                <li class="list-group-item">Email Service</li>
                <li class="list-group-item">Gift Codes Redemption</li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <h2 class="card-title font-weight-bold text-info">Get in Touch</h2>
            </div>
            <ol class="list-group">
                <li class="list-group-item">If you have any questions, feedback, or suggestions, please don't hesitate to contact us.
                    We're here to assist you and enhance your gaming experience on Last Shelter Survival.</li>
                <li class="list-group-item"> Email: <a href="mailto:support@last-shelter.vip">support@last-shelter.vip</a></li>

                <li class="list-group-item">
                    <a href="{{ url_for('chat.get_chat') }}" class="font-weight-bold text-info">
                    <i class="ti ti-comment"> </i>
                    Support Chat
                    </a>
                </li>
            </ol>

        </div>
<div class="card">
    <div class="card-header">
        <h2 class="card-title font-weight-bold text-danger">Disclaimer</h2>
    </div>
    <ul class="list-group">
        <li class="list-group-item font-weight-bold">
            All Game Data is obtained from publicly available game APIs.
        </li>
        <li class="list-group-item font-weight-bold">
            We do not endorse or promote any form of account trading or selling. The marketplace is provided solely as a platform for users to list their accounts.
        </li>
        <li class="list-group-item font-weight-bold">
            Users are responsible for ensuring the legality and compliance of their actions with the terms of service and regulations of the game and platform providers.
        </li>
        <li class="list-group-item font-weight-bold">
            We are not liable for any disputes, losses, or damages arising from transactions made through the marketplace.
        </li>
        <li class="list-group-item font-weight-bold">
            Users are advised to exercise caution and perform due diligence when engaging in transactions with other users.
        </li>
        <li class="list-group-item font-weight-bold">
            We reserve the right to suspend or terminate accounts found to be in violation of our terms of service or engaging in fraudulent activities.
        </li>
    </ul>
</div>

    </div>

</section>

{% endblock %}