
{% extends "layouts/page.html" %}

{% block content %}

{% include "layouts/social.html" %}
<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="font-weight-bold text-info"> Funeral Admin </h2>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title font-weight-bold text-info"><i class="ti ti-user"> </i> Login - Create Account</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% if user %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.do_logout')}}" class="btn btn-danger btn-block">
                            <i class="ti-power-off"> </i> <strong>Logout</strong>
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.get_register') }}" class="btn btn-warning btn-block">
                            <i class="ti-save"> </i> <strong>Create Account Today</strong>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.get_auth')}}" class="btn btn-primary btn-block">
                            <i class="ti-user"> </i> <strong>Login</strong>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</section>
{% endblock %}

{% include "layouts/social.html" %}



