
{% extends "layouts/page.html" %}
{% block custom_css %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
            color: #666;
        }
        .features {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }
        .feature {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        .feature h2 {
            font-size: 18px;
            color: #333;
        }
        .feature p {
            font-size: 14px;
            color: #666;
        }
    </style>
{% endblock %}
{% block content %}


<section id="main-content">
    <div class="card">
        <div class="card-header">
            <h2 class="font-weight-bold text-info"> Funeral Admin </h2>
        </div>
    </div>
    <div class="container">
        <p>The Funeral Admin Application is a sophisticated web-based platform meticulously designed to streamline funeral cover management and funeral home administration. It offers an array of meticulously crafted features, tailored to meet the diverse needs of both users and administrators alike.</p>

        <div class="features">
            <div class="feature">
                <h2>Policy Registration</h2>
                <p>Embark on the journey of securing your funeral cover plans with unparalleled ease and convenience. Our platform provides a seamless registration process, allowing users to select from a wide range of options tailored to their unique requirements.</p>
            </div>
            <div class="feature">
                <h2>Claims Processing</h2>
                <p>Experience the epitome of efficiency with our streamlined claims processing system. Users can file claims effortlessly and monitor their progress with ease, ensuring timely and effective resolution of their requests.</p>
            </div>
            <div class="feature">
                <h2>Funeral Arrangement Assistance</h2>
                <p>Gain access to a wealth of resources and support designed to assist you in navigating the complexities of arranging funeral services and ceremonies. Our platform is dedicated to providing comprehensive assistance every step of the way.</p>
            </div>
            <div class="feature">
                <h2>Policy Management</h2>
                <p>Empower your administrative capabilities with our robust policy management tools. Administrators can effortlessly oversee policies, premiums, and claims through a centralized dashboard, ensuring seamless operations and unparalleled efficiency.</p>
            </div>
            <div class="feature">

                    <h2>Client Communication</h2>
                    <p>For clients, the Communications Module enables:</p>
                    <ul>
                        <li>Policy Registration Confirmation: Automated emails confirming successful policy registration.</li>
                        <li>Premium Payment Reminders: Timely notifications reminding clients of upcoming premium payments.</li>
                        <li>Claim Status Updates: Regular updates on the status of filed claims, ensuring clients are informed every step of the way.</li>
                        <li>Funeral Arrangement Guidance: Guidance and support via email or SMS to assist clients in arranging funeral services and ceremonies.</li>
                    </ul>
            </div>
            <div class="feature">
                    <h2>Management Communication</h2>
                    <p>For management, the Communications Module provides:</p>
                    <ul>
                        <li>New Policy Registrations: Immediate notifications of new policy registrations, allowing for prompt follow-up and processing.</li>
                        <li>Claim Processing Alerts: Real-time alerts on incoming claims, facilitating efficient processing and resolution.</li>
                        <li>Premium Payment Monitoring: Regular reports on premium payment status, ensuring proactive management of financial operations.</li>
                        <li>Performance Analytics: Comprehensive analytics and reports to track key performance indicators and inform strategic decision-making.</li>
                    </ul>

                    <p>The Communications Module serves as a vital component of the Funeral Admin Application, fostering transparent and productive communication channels between clients and management.</p>

            </div>
            <div class="feature">


                <h2>Employee Dashboard</h2>
                <p>The Employee Dashboard provides essential tools and features for employees to efficiently manage day-to-day operations, including:</p>
                <ul>
                    <li>Policy Management: Manage user accounts, policies, premiums, and claims.</li>
                    <li>Claims Processing: Verify and process claims, ensuring timely resolution.</li>
                    <li>Client Communication: Communicate with clients to address inquiries and provide support.</li>
                    <li>Reports and Analytics: Access reports and analytics to track performance and inform decision-making.</li>
                </ul>
            </div>
            <div class="feature">
                <h2>Managers Dashboard</h2>
                <p>The Manager Dashboard offers comprehensive oversight and strategic management capabilities, including:</p>
                <ul>
                    <li>Team Management: Manage employee accounts, roles, and permissions.</li>
                    <li>Policy Oversight: Monitor policy performance, trends, and compliance.</li>
                    <li>Financial Management: Monitor premium payments, expenses, and revenue.</li>
                    <li>Strategic Planning: Access advanced analytics and reports to inform strategic decision-making.</li>
                </ul>
                <p>The Admin Sections provide tailored functionality for employees and managers, empowering them to effectively manage funeral cover operations and ensure superior customer service.</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title font-weight-bold text-info"><i class="ti ti-user"> </i> Login - Create Account</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% if user %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.do_logout')}}" class="btn btn-danger btn-block">
                            <i class="ti-power-off"> </i> <strong>Logout</strong>
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.get_register') }}" class="btn btn-warning btn-block">
                            <i class="ti-save"> </i> <strong>Create Account Today</strong>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ url_for('auth.get_auth')}}" class="btn btn-primary btn-block">
                            <i class="ti-user"> </i> <strong>Login</strong>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

</section>
{% endblock %}





