<div class="modal fade" id="showAddGameID" tabindex="-1" role="dialog" aria-labelledby="addGameIDLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="addGameIDLabel"> <i class="ti ti-game"> </i>Game Accounts </h2>
            </div>

            <div class="modal-body">

                <form class="form-horizontal" method="POST" action="{{ url_for('profile.add_game_ids') }}">
                <label class="font-weight-bold text-info">
                    Insert your complete list of Game ID's so that whenever there is a new set of Gift Codes
                    they are automatically redeemed for you
                </label>

                    <div class="form-group">
                        <label class="font-weight-bold">Game IDS, <small class="text-info"> Separate each game id with a comma </small></label>
                         <textarea name="game_ids" class="form-control" style="height: 12em;"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="ti ti-gift"></i>
                            Submit Accounts </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
