<div class="modal fade" id="showGiftCodes" tabindex="-1" role="dialog" aria-labelledby="addGameIDLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="addGameIDLabel"> <i class="ti ti-gift"> </i>Available Gift Codes </h2>
            </div>

            <div class="modal-body">
                {% for gift_code in active_gift_codes %}
                    <label class="font-weight-bold">Gift Code: <span class="font-italic text-info"><i class="ti ti-gift"> </i> {{ gift_code.code }}</span></label>
                    <br>
                {% endfor %}

            </div>

        </div>
    </div>
</div>
