

{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs" id="companyTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="branchDetails-tab" data-toggle="tab" href="#branchDetails" role="tab" aria-controls="branchDetails" aria-selected="true">
                        <span class="font-weight-bold text-info">
                            <i class="fa fa-folder"> </i>
                            Branch Details
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="addEmployees-tab" data-toggle="tab" href="#addEmployees" role="tab" aria-controls="addEmployees" aria-selected="false">
                    <span class="font-weight-bold text-info">
                        <i class="fa fa-users"> </i>
                        Employees
                    </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="clients-tab" data-toggle="tab" href="#clients" role="tab" aria-controls="clients" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="fa fa-users"> </i>
                            Clients
                        </span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="companyTabsContent">
                <div class="tab-pane fade show active" id="branchDetails" role="tabpanel" aria-labelledby="branchDetails-tab">
                    <!-- Company Details Tab Content -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-folder-open"> </i> Branch Details</h3>
                        </div>
                        <div class="card-body">

                            <ul class="list-group">
                                <li class="list-group-item">Branch Name: <span class="font-weight-bold text-info">{{ branch.branch_name }}</span></li>
                                <li class="list-group-item">Branch Description: <span class="font-weight-bold text-info">{{ branch.branch_description }}</span></li>
                                <li class="list-group-item">Date Registered: <span class="font-weight-bold text-info">{{ branch.date_registered }}</span></li>
                                <li class="list-group-item">Total Clients: <span class="font-weight-bold text-info">{{ branch.total_clients }}</span></li>
                                <li class="list-group-item">Total Employees: <span class="font-weight-bold text-info">{{ branch.total_employees }}</span></li>
                                <!-- Add more details if needed -->
                            </ul>

                        </div>
                        <div class="card-footer">

                            <a href="#" class="btn btn-sm btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#addressID">
                                <i class="fa fa-address-book"> </i> Address
                            </a>
                            <a href="#" class="btn btn-sm btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#postalID">
                                <i class="fa fa-address-card-o"> </i> Postal Address
                            </a>
                            <a href="#" class="btn btn-sm btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#contactID">
                                <i class="fa fa-envelope-o"> </i> Contact Details
                            </a>
                            <a href="#" class="btn btn-sm btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#accountID">
                                <i class="fa fa-credit-card"> </i> Bank Account
                            </a>

                            <button class="btn btn-warning btn-sm m-l-9 font-weight-bold"><i class="fa fa-print"> </i> Print Report</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="addEmployees" role="tabpanel" aria-labelledby="addEmployees-tab">
                    <!-- Add Company Branch Tab Content -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold"><i class="fa fa-users"></i> {{ branch.branch_name }} Employees</h3>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td class="font-weight-bold text-info">
                                            <i class="ti ti-user"></i>
                                            First Name
                                        </td>
                                        <td class="font-weight-bold text-info">
                                            <i class="ti ti-user"></i>
                                            Surname
                                        </td>
                                        <td class="font-weight-bold text-info">
                                            <i class="ti ti-email"></i>
                                            Email
                                        </td>
                                        <td class="font-weight-bold text-info">
                                            <i class="fa fa-mobile-phone"></i>
                                            Cell
                                        </td>
                                        <td class="font-weight-bold text-info">
                                            <i class="fa fa-folder"></i>
                                            Position
                                        </td>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for employee in employee_list %}
                                    <tr>
                                        <td class="font-weight-bold">
                                            <a href="{{ url_for('company.get_employee', employee_id=employee.employee_id, branch_id=branch.branch_id) }}" class="text-info" title="Manage Employee">
                                                {{ employee.full_names }}
                                            </a>
                                        </td>
                                        <td class="font-weight-bold">{{ employee.last_name }}</td>

                                        <td class="font-weight-bold">{{ employee.email }}</td>
                                        <td class="font-weight-bold">{{ employee.contact_number }}</td>
                                        <td class="font-weight-bold">{{ employee.position }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="card-content">
                                <ul class="list-unstyled m-t-4">
                                    <li class="font-weight-bold text-info">Total Employees: {{ total_employees }}</li>
                                </ul>
                                <hr/>
                            </div>
                            <a href="#" class="btn btn-sm btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#employeeID">
                                <i class="ti ti-agenda"> </i>
                                New Employee
                            </a>
                            <button class="btn btn-warning btn-sm">
                                <i class="fa fa-print"> </i>
                                Print Details
                            </button>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">
                    <!-- Add Company Branch Tab Content -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Clients</h3>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% include "admin/managers/modals/add_branch.html" %}

{% include 'admin/managers/branches/modals/address.html' %}
{% include 'admin/managers/branches/modals/bank_account.html' %}
{% include 'admin/managers/branches/modals/contact.html' %}
{% include 'admin/managers/branches/modals/postal.html' %}
{% include 'admin/managers/branches/modals/new_employee.html' %}
