{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs" id="employeeTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="viewEmployee-tab" data-toggle="tab" href="#viewEmployee" role="tab"
                       aria-controls="viewEmployee" aria-selected="true">
                        <span class="font-weight-bold text-info">
                            <i class="fa fa-user"> </i>
                            Employee
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="editEmployee-tab" data-toggle="tab" href="#editEmployee" role="tab"
                       aria-controls="editEmployee" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="fa fa-pencil"> </i>
                            Edit Employee
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                       aria-controls="editEmployee" aria-selected="false">
                        <span class="font-weight-bold text-info">
                            <i class="fa fa-user"> </i>
                            Admin Tasks
                        </span>
                        <!-- here we will crate tasks like resetting employee login details -->
                        <!-- here we will crate tasks like sending employee hours worked -->
                        <!-- here we will crate tasks like creating employee payslips -->
                        <!-- and more -->
                    </a>
                </li>

            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="employeeTabsContent">
                <!-- View Employee Tab -->
                <div class="tab-pane fade show active" id="viewEmployee" role="tabpanel"
                     aria-labelledby="viewEmployee-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title font-weight-bold text-info">
                                <i class="fa fa-user"> </i>
                                Employee Details
                            </h4>
                        </div>
                        <ul class="list-group col-9">
                            <li class="list-group-item font-weight-bold text-danger"><i class="fa fa-info-circle"> </i> Employee Number: <span class="text-info pull-right">{{ employee_detail.employee_id }}</span></li>
                            <li class="list-group-item font-weight-bold m-t-8"><i class="fa fa-user-circle"> </i> Full Names: <span class="text-info pull-right">{{ employee_detail.full_names| title }}</span></li>
                            <li class="list-group-item font-weight-bold"><i class="fa fa-user-circle"> </i> Surname: <span class="text-info pull-right">{{ employee_detail.last_name| title }}</span></li>
                            <li class="list-group-item font-weight-bold m-t-8"><i class="fa fa-calendar-plus-o"> </i> Date Of Birth: <span class="text-info pull-right">{{ employee_detail.date_of_birth }}</span></li>
                            <li class="list-group-item font-weight-bold"><i class="fa fa-id-card"> </i> ID Number: <span class="text-info pull-right">{{ employee_detail.id_number }}</span></li>

                            <li class="list-group-item font-weight-bold m-t-8"><i class="fa fa-empire"> </i> Role: <span class="text-info pull-right">{{ employee_detail.role }}</span></li>
                            <li class="list-group-item font-weight-bold"><i class="fa fa-money"> </i> Salary: <span class="text-info pull-right">R {{ employee_detail.salary| number }}.00</span></li>

                            <li class="list-group-item font-weight-bold m-t-12"><i class="fa fa-mobile-phone"> </i> Contact Number: <a href="tel:{{ employee_detail.contact_number }}" class="text-success pull-right">{{ employee_detail.contact_number }}</a></li>
                            <li class="list-group-item font-weight-bold"><i class="fa fa-envelope-square"> </i> Email: <a href="email:{{ employee_detail.email }}" class="text-success pull-right">{{ employee_detail.email }}</a></li>

                        </ul>
                        <div class="card-footer">
                            <a href="#" class="btn btn-sm btn-rounded btn-outline-success btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#employeeAddressID">
                                <i class="fa fa-address-book"> </i> Address
                            </a>
                            <a href="#" class="btn btn-sm btn-rounded btn-outline-success btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#employeePostalID">
                                <i class="fa fa-address-card-o"> </i> Postal Address
                            </a>
                            <a href="#" class="btn btn-sm btn-rounded btn-outline-success btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#employeeContactID">
                                <i class="fa fa-envelope-o"> </i> Contact Details
                            </a>
                            <a href="#" class="btn btn-sm btn-rounded btn-outline-success btn-primary mr-2 mr-md-12 mb-2 mb-md-0" data-toggle="modal" data-target="#employeeAccountID">
                                <i class="fa fa-credit-card"> </i> Bank Account
                            </a>

                            <a href="{{ url_for('company.get_branch', branch_id=employee_detail.branch_id) }}" class="btn btn-sm btn-rounded btn-outline-success btn-danger mr-2 mr-md-12 mb-2 mb-md-0 pull-right">
                                <i class="fa fa-backward"> </i> Branch Details
                            </a>

                        </div>
                    </div>
                </div>
                <!-- Edit Employee Tab -->
                <div class="tab-pane fade" id="editEmployee" role="tabpanel" aria-labelledby="editEmployee-tab">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title font-weight-bold text-info">
                                <i class="fa fa-file-text"> </i>
                                Update Employee Details
                            </h4>
                        </div>
                            <form class="form-horizontal col-9" action="{{ url_for('company.add_employee', branch_id=branch.branch_id) }}" method="post">
                                <div class="form-group m-t-16">
                                    <label for="full_names" class="font-weight-bold text-info">Full Names: </label>
                                    <input type="text" class="form-control" id="full_names" name="full_names" value="{{ employee_detail.full_names| title }}">
                                </div>
                                <div class="form-group">
                                    <label for="last_name"  class="font-weight-bold text-info">Surname:</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ employee_detail.last_name| title }}">
                                </div>

                                <div class="form-group m-t-12">
                                    <label for="id_number"  class="font-weight-bold text-info">ID Number</label>
                                    <input type="text" class="form-control" id="id_number" name="id_number" value="{{ employee_detail.id_number }}">
                                </div>
                                <div class="form-group">
                                    <label for="date_of_birth"  class="font-weight-bold text-info">Date Of Birth</label>
                                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ employee_detail.date_of_birth }}">
                                </div>
                                <div class="form-group m-t-12">
                                    <label for="email" class="font-weight-bold text-info">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{ employee_detail.email }}">
                                </div>
                                <div class="form-group">
                                    <label for="contact_number" class="font-weight-bold text-info">Contact Number</label>
                                    <input type="tel" class="form-control" id="contact_number" name="contact_number" value="{{ employee_detail.contact_number }}">
                                </div>
                                <div class="form-group m-t-12">
                                    <label for="position"  class="font-weight-bold text-info">Position</label>
                                    <input type="text" class="form-control" id="position" name="position" value="{{ employee_detail.position }}">
                                </div>
                                <div class="form-group">
                                    <label for="role" class="font-weight-bold text-info">Role</label>
                                    <select class="form-control" name="role" id="role">
                                        <option value="{{ employee_detail.role }}" selected>{{ employee_detail.role }}</option>
                                        {% for role in employee_roles %}
                                            <option value="{{ role }}" selected>{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group m-t-12">
                                    <label for="salary" class="font-weight-bold  text-info">Salary(ZAR)</label>
                                    <input type="number" class="form-control" id="salary" name="salary" value="{{ employee_detail.salary}}">
                                </div>
                                <div class="form-group">
                                    <label for="is_active" class="font-weight-bold  text-info">Is Active</label>
                                    <select id="is_active" name="is_active" class="form-control">
                                        {% if employee_detail.is_active == True %}
                                            <option value="True" selected>True</option>
                                            <option value="False">False</option>
                                        {% else %}
                                            <option value="True">True</option>
                                            <option value="False" selected>False</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <!-- Add more fields as needed -->
                                <button type="submit" class="btn btn-rounded btn-primary btn-sm">
                                    <i class="fa fa-save"> </i>
                                    Update Employee Details
                                </button>
                            </form>
                    </div>
                </div>

                <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="adminTasksLabel-tab">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title font-weight-bold text-info">
                                <i class="fa fa-dashcube"> </i>
                                Admin Tasks
                            </h3>
                        </div>

                        <div class="card-body m-t-8">
                            <ul class="list-group col-9">
                                <li class="list-group font-weight-bold text-info m-t-20">Employee Details</li>
                                <li class="list-group-item font-weight-bold m-t-16 text-danger"><i class="fa fa-info-circle"> </i> Employee Number: <span class="text-info pull-right">{{ employee_detail.employee_id }}</span></li>
                                <li class="list-group-item font-weight-bold m-t-10"><i class="fa fa-user"> </i> Names: <span class="font-italic text-info pull-right">{{ employee_detail.full_names| title }}</span></li>
                                <li class="list-group-item font-weight-bold"><i class="fa fa-user"> </i> Surname: <span class="font-italic text-info pull-right">{{ employee_detail.last_name| title  }}</span></li>
                                <li class="list-group-item font-weight-bold m-t-12"><i class="fa fa-mobile-phone"> </i> Cell: <a href="tel:{{ employee_detail.contact_number }}" class="font-italic text-info pull-right">{{ employee_detail.contact_number }}</a></li>
                                <li class="list-group-item font-weight-bold"><i class="fa fa-envelope"> </i> Email: <a href="email:{{ employee_detail.email }}" class="font-italic text-info pull-right">{{ employee_detail.email }}</a></li>
                                {% if user_employee and user_employee.account_verified %}
                                <li class="list-group-item font-weight-bold"><i class="ti-user"> </i> Account Verified : <span class="badge badge-success pull-right"> Yes </span> </li>
                                {% else %}
                                <li class="list-group-item font-weight-bold"><i class="ti-user"> </i> Account Verified: <span class="badge badge-danger pull-right"> No </span> </li>
                                {% endif %}
                            </ul>
                            <form class="form-horizontal m-t-8" action="">
                                <div class="form-group">
                                    {% if user_employee and not user_employee.account_verified %}

                                        <form class="form-horizontal" method="POST" action="{{ url_for('auth.resend_verification_email', uid=user_employee.uid) }}">
                                            <button type="submit"  class="btn btn-rounded btn-outline-success">
                                                <i class="fa fa-envelope"> </i>
                                                Resend Verification Email
                                            </button>
                                        </form>

                                        <form class="form-horizontal" method="POST" action="{{ url_for('auth.manual_verification_admin', uid=user_employee.uid) }}">
                                            <button type="submit"  class="btn btn-rounded btn-outline-success">
                                                <i class="fa fa-envelope"> </i>
                                                Manual Verification
                                            </button>
                                        </form>

                                    {% else %}
                                       {% if user_employee %}
                                       <form class="form-horizontal" method="POST" action="{{ url_for('auth.deactivate_employee_account_admin', uid=user_employee.uid) }}">
                                            <button type="submit" class="btn btn-rounded btn-outline-danger">
                                                <i class="fa fa-envelope"> </i>
                                                De-Activate
                                            </button>
                                        </form>
                                       {% else %}
                                           <span class="font-weight-bold  text-danger">This Employee has no User Account therefore cannot login into the system</span>
                                       {% endif %}
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% include 'admin/managers/branches/employee_modals/address.html' %}
{% include 'admin/managers/branches/employee_modals/bank_account.html' %}
{% include 'admin/managers/branches/employee_modals/contact.html' %}
{% include 'admin/managers/branches/employee_modals/postal.html' %}
