{% extends "layouts/page.html" %}

{% block content %}
{% if message %}
<section id="main-content">

        <div class="card">
            <div class="card-header bg-primary">
                <h4 class="text-white font-weight-bold">Sent Message Details</h4>
            </div>
            <div class="card-body">

                    <div class="card-content">
                        <h5 class="label text-info">From:</h5>
                        <p class="card-text font-weight-bold">{{ message.from_email }}</p>
                    </div>
                    <div class="card-content">
                        <h5 class="label text-info">To:</h5>
                        <p class="card-text font-weight-bold">{{ message.to_email }}</p>
                    </div>
                    <div class="card-content">
                        <h5 class="label text-info">Subject:</h5>
                        <p class="card-text  font-weight-bold">{{ message.subject }}</p>
                    </div>
                    <div class="card-content">
                        <h5 class="label text-info">Date Sent:</h5>
                        <p class="card-text  font-weight-bold">{{ message.date_time_sent }}</p>
                    </div>
                    <div class="card-content">
                        <h5 class="label text-info">Message:</h5>
                    </div>
            </div>
        </div>

</section>

{{ message.message | safe }}
{% else %}
    <p class="text-danger">No message details available.</p>
{% endif %}

{% endblock %}
