

{% extends "layouts/page.html" %}
{% block content %}
    <section id="main-content">
        <div class="card shadow-lg border-success">
            <div class="card-header  bg-primary d-flex justify-content-between align-items-center">
                <h4 class="card-title text-white font-weight-bold">
                    <i class="fa fa-envelope-square"> </i>
                    Compose SMS
                </h4>
            </div>
            <div class="card-body m-t-12">
                <form action="{{ url_for('messaging.send_composed_sms_message') }}" method="post">
                    {% include 'admin/managers/messaging/includes/compose_selects.html' %}
                    <div class="form-group">
                        <label class="font-weight-bold text-info" for="message">Message:</label>
                        <textarea class="col-12 border-info" rows="12" id="message" name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block btn-rounded">
                        <i class="fa fa-send-o"> </i> Send SMS
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
