<div class="modal fade" id="contactID" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="contactLabel" class="card-title"> <i class="fa fa-envelope"></i> Contact </h2>
            </div>

            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {% if contact %}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#viewContact" role="tab">

                                <span class="font-weight-bold"><i class="fa fa-phone"> </i> Contact Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#editContact" role="tab">
                                <span class="font-weight-bold">
                                    <i class="fa fa-file-text"> </i>
                                    Edit Contact
                                </span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#addContact" role="tab">Add Contact</a>
                        </li>
                    {% endif %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    {% if contact %}
                        <!-- View Contact Tab -->
                        <div class="tab-pane active" id="viewContact" role="tabpanel">
                            <div class="card-footer">
                                <!-- Display contact details here -->
                            <ul class="list-group">

                                <li class="list-group-item font-weight-bold text-info">{{ branch.branch_name| title }} {{ branch.branch_description| title }} Contact Information </li>
                                <li class="list-group-item font-weight-bold">
                                    <i class="fa fa-mobile-phone"> </i>
                                    Cell: <a href="tel:{{ contact.cell }}" class="font-weight-bold text-info pull-right">{{ contact.cell }}</a></li>

                                {% if contact.tel %}
                                    <li  class="list-group-item font-weight-bold">
                                        <i class="fa fa-phone-square"> </i>
                                        Tel: <a href="tel:{{ contact.tel }}" class="font-weight-bold text-success pull-right">{{ contact.tel }}</a></li>
                                {% endif %}
                                    <li  class="list-group-item font-weight-bold">
                                        <i class="fa fa-envelope-square"> </i>
                                        Email: <a href="email:{{ contact.email }}" class="font-weight-bold text-success pull-right">{{ contact.email }}</a></li>
                                {% if contact.facebook %}
                                    <li  class="list-group-item font-weight-bold">
                                        <i class="fa fa-facebook-official"> </i>
                                        Facebook: <a href="https://facebook.com/{{ contact.facebook }}" target="_blank" class="font-weight-bold text-info pull-right">{{ contact.facebook }}</a></li>
                                {% endif %}
                                {% if contact.twitter %}
                                    <li  class="list-group-item font-weight-bold">
                                        <i class="fa fa-twitter-square"> </i>
                                        Twitter: <a href="https://x.com/{{ contact.twitter }}" target="_blank" class="font-weight-bold text-info pull-right">{{ contact.twitter }}</a></li>
                                {% endif %}
                                {% if contact.whatsapp %}
                                    <li  class="list-group-item font-weight-bold">
                                        <i class="fa fa-whatsapp"> </i>
                                        WhatsApp: <a href="https://wa.me/{{ contact.whatsapp }}" target="_blank" class="font-weight-bold text-info pull-right">{{ contact.whatsapp }}</a></li>
                                {% endif %}
                            </ul>
                            </div>
                        </div>
                        <!-- Edit Contact Tab -->
                        <div class="tab-pane" id="editContact" role="tabpanel">
                            <div class="card-footer">
                                <!-- Form for editing existing contact -->
                                {% include "admin/managers/branches/modals/contact_form.html" %}
                            </div>
                        </div>
                    {% else %}
                        <!-- Add Contact Tab -->
                        <div class="tab-pane active" id="addContact" role="tabpanel">
                            <div class="card-footer">
                                <!-- Form for adding new contact -->
                               {% include "admin/managers/branches/modals/contact_form.html" %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
