<div class="modal fade" id="employeeID" tabindex="-1" role="dialog" aria-labelledby="employeeLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="employeeLabel" class="card-title font-weight-bold text-info"> <i class="fa fa-address-book"></i> Add New Employee </h2>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="{{ url_for('company.add_employee', branch_id=branch.branch_id) }}" method="POST">
                    <!-- Full Names -->

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="full_names" class="form-label">Full Names</label>
                            <input type="text" class="form-control" id="full_names" name="full_names" {% if employee_detail %}value="{{ employee_detail.full_names }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" {% if employee_detail %}value="{{ employee_detail.last_name }}"{% endif %} required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" {% if employee_detail %}value="{{ employee_detail.email }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="contact_number" class="form-label">Contact Number</label>
                            <input type="text" class="form-control" id="contact_number" name="contact_number" {% if employee_detail %} value="{{ employee_detail.contact_number }}"{% endif %} required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="position" class="form-label">Position</label>
                            <input type="text" class="form-control" id="position" name="position" {% if employee_detail %}value="{{ employee_detail.position }}"{% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="salary" class="form-label">Salary</label>
                            <input type="number" class="form-control" id="salary" name="salary" {% if employee_detail %}value="{{ employee_detail.salary }}"{% endif %} required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="role" class="form-label">Role</label>
                            {% if employee_roles %}
                                <select name="role" id="role" class="form-control">
                                    <option value="" disabled {% if not employee_detail %} selected {% endif %}>Select Employee Role</option>
                                    {% for role in employee_roles %}
                                        <option value="{{ role }}" {% if employee_detail and employee_detail.role == role %} selected {% endif %}>{{ role|title }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <label for="date_of_birth" class="form-label">Date of Birth</label>
                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" {% if employee_detail %}value="{{ employee_detail.date_of_birth }}"{% endif %} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_number" class="form-label">ID Number</label>
                        <input type="text" class="form-control" id="id_number" name="id_number" {% if employee_detail %}value="{{ employee_detail.id_number }}"{% endif %} required>
                    </div>


                    <!-- Submit Button -->
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-rounded btn-primary">
                                <i class="fa fa-save"> </i>
                                Add Employee
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
