{% include "layouts/invoice.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-lg border-primary">
                <div class="card-header text-center">
                    <h1 class="card-title font-weight-bold">{{ company.company_name|title }}</h1>
                    <p class="card-subtitle">{{ company.company_slogan|title }}</p>
                    <p class="font-italic">{{ company.company_description|title }}</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5>Policy Type: {{ policy_data.policy_type|title }}</h5>
                            <h5>Policy Number: {{ receipt.policy_number }}</h5>
                            <h5>Receipt Number: {{ receipt.receipt_number }}</h5>
                        </div>
                        <div class="col-6 text-right">
                            <h5>Date Paid: {{ receipt.datetime_paid.strftime('%Y-%m-%d') }}</h5>
                            <h5>Payment Method: {{ premium.payment_method|title }}</h5>
                            <h5>Policy Holder: {{ selected_client.client_display_name|title }}</h5>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Payment Amount</td>
                                <td>R {{ premium.payment_amount|number }}.00</td>
                            </tr>
                            <tr>
                                <td>Amount Paid</td>
                                <td>R {{ receipt.paid_amount|number }}.00</td>
                            </tr>
                            <tr>
                                <td>Next Payment Date</td>
                                <td class="font-weight-bold text-warning">{{ premium.next_payment_date.strftime('%Y-%m-%d') }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Paid</td>
                                <td class="font-weight-bold">R {{ receipt.paid_amount|number }}.00</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p class="text-center">
                        Thank you for your payment!
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <p>Email: {{ company.email }}</p>
                            <p>Phone: {{ company.phone }}</p>
                        </div>
                        <div class="col-6 text-right">
                            <p >VAT Number: {{ company.vat_number }}</p>
                            <p>Registration Number: {{ company.reg_ck }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer font-weight-bold text-center text-danger">
                    <small>Generated on {{ generated_on.strftime('%Y-%m-%d') }}</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
