{% extends "email_templates/email_page.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Funeral Manager Password Reset</h2>

    </div>

    <div class="card-body">
            <h2>Funeral Manager - funeral-manager.org</h2>
            <p>Hello,</p>
            <p>We received a password reset request for your https://funeral-manager.org account.
            Please click the link below to reset your password:</p>
            <a class="font-weight-bold font-italic text-info" href="{{ password_reset_link }}">{password_reset_link}</a>
            <p>If you didn't request a password reset, you can ignore this email.</p>
            <p>Thank you,</p>
            <p>Funeral Manager Team</p>
            <span><a href="https://funeral-manager.org">Funeral-Manager.org</a> </span>
    </div>
</div>

{% endblock %}