
{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card shadow-lg border-success">
        <div class="card-header bg-facebook">
            <h2 class="card-title font-weight-bold text-white">
                <i class="fa fa-registered"> </i>
              Attendance Register
            </h2>
        </div>
        <div class="card-body">

        <table class="table table-striped">
          <thead>
                <tr>
                  <th>Date</th>
                  <th>Time In</th>
                  <th>Time Out</th>
                  <th>Status</th>
                  <th></th>
                </tr>
          </thead>
          <tbody>

                {% if employee_detail and employee_detail.attendance_register and employee_detail.attendance_register.records %}
                    {% for record in employee_detail.attendance_register.records %}
                        <tr>
                            <td>{{ record.day_and_date_clocked_in() }}</td>
                            <td>{{ record.clock_in }}</td>
                            <td>{{ record.clock_out }}</td>
                            <td>
                                {% if record.clock_in and not record.clock_out %}
                                    <span class="badge badge-success">On Duty</span>
                                {% endif %}
                                {% if record.clock_in and record.clock_out %}
                                    <span class="badge badge-danger">Off Duty</span>
                                {% endif %}
                                {% if not record.clock_in %}
                                    <span class="badge badge-danger">Absent</span>
                                {% endif %}
                            </td>
                            <td></td>

                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5">No records available</td>
                    </tr>
                {% endif %}
          </tbody>
        </table>
        <div class="pagination">
          <!-- Pagination controls here -->
        </div>

        </div>

      <div class="card-footer">
        <div class="row">

            <form class="form-horizontal" method="POST" action="{{ url_for('employees.employee_clocking_in') }}">
                    {% if employee_detail %}
                        <input type="hidden" id="employee_id" name="employee_id" value="{{ employee_detail.employee_id }}">
                    {% endif %}

                    {% if employee_detail and employee_detail.attendance_register.has_clocked_in_today %}
                        <button id="clocked_in" class="btn btn-lg btn-block btn-rounded btn-success btn-outline-success m-r-12" disabled>
                              <i class="fa fa-clock-o"></i>
                              Clock In
                        </button>
                    {% else %}
                        <button id="clocked_in" class="btn btn-lg btn-block btn-rounded btn-outline-success m-r-12">
                              <i class="fa fa-clock-o"></i>
                              Clocked In
                        </button>
                    {% endif %}
            </form>

            <form class="form-horizontal" method="POST" action="{{ url_for('employees.employee_clocking_out') }}">

                    {% if employee_detail %}
                        <input type="hidden" id="employee_id" name="employee_id" value="{{ employee_detail.employee_id }}">
                    {% endif %}


                    {% if employee_detail and not employee_detail.attendance_register.has_clocked_out_today %}
                        <button id="clocked_out" class="btn btn-lg btn-block btn-rounded btn-outline-danger">
                          <i class="fa fa-clock-o"></i>
                          Clock Out
                        </button>
                    {% else %}
                        <button id="clocked_out" class="btn btn-lg btn-block btn-rounded btn-outline-danger" disabled>
                          <i class="fa fa-clock-o"></i>
                          Clocked Out
                        </button>

                    {% endif %}
            </form>
        </div>
      </div>

    </div>
</section>
{% endblock %}
