{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card shadow-lg border-success">
        <div class="card-header bg-facebook">
            <h2 class="card-title font-weight-bold text-white">
                <i class="fa fa-folder-o"> </i>
                Payroll
            </h2>
        </div>
        <div class="card-body">

            <!-- Tabs Navigation -->
            <ul class="nav nav-tabs" id="payrollTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="latest-payslips-tab" data-toggle="tab" href="#latest-payslips" role="tab" aria-controls="latest-payslips" aria-selected="true">
                    <span class="font-weight-bold">
                        Latest Payslips
                    </span>
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="historical-payslips-tab" data-toggle="tab" href="#historical-payslips" role="tab" aria-controls="historical-payslips" aria-selected="false">
                        <span class="font-weight-bold">
                            Historical Payslips
                        </span>
                    </a>
                </li>
            </ul>

            <!-- Tabs Content -->
            <div class="tab-content" id="payrollTabsContent">
                <!-- Latest Payslips Tab -->
                <div class="tab-pane fade show active" id="latest-payslips" role="tabpanel" aria-labelledby="latest-payslips-tab">
                <div class="card shadow-lg border-info">
                    <h4 class="mt-3 font-weight-bold card-title">Latest Payslips</h4>
                    {% if latest_payslips %}
                        <table class="table table-striped mt-3">
                            <thead>
                                <tr>
                                    <th>Employee ID</th>
                                    <th>Full Names</th>
                                    <th>Pay Period Start</th>
                                    <th>Pay Period End</th>
                                    <th>Salary</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for employee, payslip in latest_payslips %}
                                    <tr>
                                        <td>{{ employee.employee_id }}</td>
                                        <td>{{ employee.full_names| title }}</td>
                                        <td>{{ payslip.pay_period_start.strftime('%Y-%m-%d') }}</td>
                                        <td>{{ payslip.pay_period_end.strftime('%Y-%m-%d') }}</td>
                                        <td>R {{ payslip.salary.amount| number }}.00</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="mt-3">
                            <strong>Total Salary: </strong>
                            {% set total_salary = latest_payslips | map(attribute='1.salary.amount') | sum %}
                            R {{ total_salary|number }}.00
                        </div>
                    {% else %}
                        <p>No latest payslips available.</p>
                    {% endif %}
                </div>
                </div>

                <!-- Historical Payslips Tab -->
                <div class="tab-pane fade" id="historical-payslips" role="tabpanel" aria-labelledby="historical-payslips-tab">
                <div class="card shadow-lg border-info">
                    <h4 class="mt-3 font-weight-bold card-title">Historical Payslips</h4>
                    {% if historical_payslips %}
                        <div class="accordion" id="historicalPayslipsAccordion">
                            {% for period, payslips in historical_payslips.items() %}
                                <div class="card">
                                    <div class="card-header" id="heading{{ loop.index }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                                {{ period }}
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}" data-parent="#historicalPayslipsAccordion">
                                        <div class="card-body">
                                            <table class="table table-striped mt-3">
                                                <thead>
                                                    <tr>
                                                        <th>Employee ID</th>
                                                        <th>Full Names</th>
                                                        <th>Pay Period Start</th>
                                                        <th>Pay Period End</th>
                                                        <th>Salary</th>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for employee, payslip in payslips %}
                                                        <tr>
                                                            <td>{{ employee.employee_id }}</td>
                                                            <td>{{ employee.full_names| title }}</td>
                                                            <td>{{ payslip.pay_period_start.strftime('%Y-%m-%d') }}</td>
                                                            <td>{{ payslip.pay_period_end.strftime('%Y-%m-%d') }}</td>
                                                            <td>R {{ payslip.salary.amount| number }}.00</td>
                                                            <td></td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <div class="mt-3">
                                                <strong>Total Salary for {{ period }}: </strong>
                                                {% set total_salary = payslips | map(attribute='1.salary.amount') | sum %}
                                                R {{ total_salary| number }}.00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No historical payslips available.</p>
                    {% endif %}
                </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
