{% extends "layouts/page.html" %}

{% block content %}

<section id="main-content">
    <div class="card fluid">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">
                <i class="ti ti-shopping-cart"> </i>
                Buy &amp; Sell Game Accounts
            </h3>
            <div>
                <hr/>
                <label class="font-weight-bold text-info">Game Accounts Passwords and Login Emails are automatically verified with the Game Servers
                    before being listed here</label>
                    <label class="font-weight-bold">- Your Account will only successfully be listed if you submit correct login credentials</label>
                    <label class="font-weight-bold">- Once a Buyer is found (and has enough funds in escrow) We will send the buyer the game login details if you accept the purchase agreement</label>
                    <label class="font-weight-bold">- If the buyer is satisfied, and wants to proceed with the account purchase you will get notified after which you can transfer your email login details to the buyer</label>
                    <label class="font-weight-bold">- The buyer must then login and change account passwords, after this step is completed - the buyer gives us a notice and we send the money to the seller</label>
                    <label class="font-weight-bold">- All parties involved are never in possession of the full credentials required to take over an account before buying</label>
                    <label class="font-weight-bold">- The Seller also cannot retake the account and run away with the funds, as the funds are placed in escrow</label>
                    <label class="font-weight-bold">- A minimum of ten percent transaction fee will be applied to all transactions</label>
                    <label class="font-weight-bold">- All parties involved in this market place are pre verified before being allowed to participate</label>
            </div>
        </div>

        <div class="card-footer">
            <a href="{{ url_for('market.get_public_market') }}" class="btn btn-sm btn-secondary">
                <span class="font-weight-bold text-white">
                    <i class="ti ti-shopping-cart"> </i>
                    Public Market Place
                </span>
            </a>

            <a href="{{ url_for('market.get_account_trader_dashboard') }}" class="btn btn-sm btn-secondary">
                <span class="font-weight-bold text-white">
                    <i class="ti ti-user"> </i>
                    My Dashboard
                </span>
            </a>
            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_account">
                <span class="font-weight-bold text-white">
                    <i class="ti ti-plus"> </i>
                    Start Account Listing
                </span>
            </a>
        </div>
    </div>

</section>

{% endblock %}

{% include 'market/accounts/modals/add_game_account.html' %}